# First chart data processing

In [18]:
import pandas as pd
import numpy as np

In [19]:
csv = pd.read_csv('../data/GlobalSentiment_Data.csv', index_col = 0)

In [20]:
dictionary = {}

In [21]:
for index, countries in csv.groupby('iso3'):
    if countries.shape[0] is not 152:
        display(index)

In [22]:
csv[csv['iso3'] == 'TUR']

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
19305,TUR,2020-01-01,1.734717,0.815279,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
19306,TUR,2020-01-02,0.556116,0.625424,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
19307,TUR,2020-01-03,0.506369,0.450007,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
19308,TUR,2020-01-04,0.400448,0.286395,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
19309,TUR,2020-01-05,0.246680,0.134107,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19452,TUR,2020-05-27,0.013641,1.262619,-35.791809,2020-03-09,2020-03-25,68.0,2572.0,2070.0
19453,TUR,2020-05-28,0.928894,0.989178,-36.506757,2020-03-09,2020-03-25,60.0,3152.0,2364.0
19454,TUR,2020-05-29,1.722722,0.735273,-39.205882,2020-03-09,2020-03-25,56.0,3188.0,2282.0
19455,TUR,2020-05-30,0.468964,0.490497,-63.781879,2020-03-09,2020-03-25,52.0,2042.0,1966.0
19456,TUR,2020-05-31,1.287982,0.234674,-62.145763,2020-03-09,2020-03-25,50.0,1978.0,1678.0

In [24]:
for index, countries in csv.groupby('iso3'):
    countries.sort_values('date', inplace=True)
    dictionary[index] = {
        'senti_bert_std': list(countries['senti_bert_std']),
        'senti_bert_std_trend': list(countries['senti_bert_std_trend']),
        'transit': list(countries['transit']),
        'drop_senti_bert': list(countries['drop_senti_bert']),
        'min_senti_bert_std': list(countries['min_senti_bert_std']),
        'death': list(countries['death']),
        'recovered': list(countries['recovered']),
        'dates': list(countries['date']),
        'confirmed': list(countries['confirmed'])
    }

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
1,AFG,2020-01-01,0.701896,0.028350,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
2,AFG,2020-01-02,0.823791,-0.083161,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
3,AFG,2020-01-03,-1.961022,-0.182154,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
4,AFG,2020-01-04,-0.505223,-0.274310,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
5,AFG,2020-01-05,-2.471051,-0.354487,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
148,AFG,2020-05-27,0.717064,1.251906,NaN,2020-03-10,2020-03-13,7.0,10.0,625.0
149,AFG,2020-05-28,0.346947,1.147359,NaN,2020-03-10,2020-03-13,8.0,71.0,580.0
150,AFG,2020-05-29,3.777787,1.041241,NaN,2020-03-10,2020-03-13,11.0,50.0,623.0
151,AFG,2020-05-30,1.241057,0.932738,NaN,2020-03-10,2020-03-13,3.0,44.0,866.0
152,AFG,2020-05-31,0.312260,0.808612,NaN,2020-03-10,2020-03-13,8.0,25.0,680.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
153,AGO,2020-01-01,1.748801,0.616943,NaN,2020-03-11,2020-03-23,NaN,NaN,NaN
154,AGO,2020-01-02,-0.948007,0.401770,NaN,2020-03-11,2020-03-23,NaN,NaN,NaN
155,AGO,2020-01-03,-0.679574,0.192538,NaN,2020-03-11,2020-03-23,NaN,NaN,NaN
156,AGO,2020-01-04,-1.767253,-0.016973,NaN,2020-03-11,2020-03-23,NaN,NaN,NaN
157,AGO,2020-01-05,1.628625,-0.225859,NaN,2020-03-11,2020-03-23,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
300,AGO,2020-05-27,1.293457,0.655108,-48.0,2020-03-11,2020-03-23,0.0,0.0,1.0
301,AGO,2020-05-28,-0.610434,0.556344,-41.5,2020-03-11,2020-03-23,0.0,0.0,3.0
302,AGO,2020-05-29,-1.147292,0.456079,-43.0,2020-03-11,2020-03-23,0.0,0.0,7.0
303,AGO,2020-05-30,1.159195,0.358416,-35.5,2020-03-11,2020-03-23,0.0,0.0,3.0
304,AGO,2020-05-31,0.942910,0.262531,-52.5,2020-03-11,2020-03-23,0.0,0.0,2.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
305,ALB,2020-01-01,0.857488,-1.315886,NaN,2020-03-07,2020-03-25,NaN,NaN,NaN
306,ALB,2020-01-02,-4.032480,-1.343107,NaN,2020-03-07,2020-03-25,NaN,NaN,NaN
307,ALB,2020-01-03,-1.923233,-1.370036,NaN,2020-03-07,2020-03-25,NaN,NaN,NaN
308,ALB,2020-01-04,-1.161031,-1.397790,NaN,2020-03-07,2020-03-25,NaN,NaN,NaN
309,ALB,2020-01-05,-0.805836,-1.413446,NaN,2020-03-07,2020-03-25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
452,ALB,2020-05-27,-0.419227,-0.109887,NaN,2020-03-07,2020-03-25,0.0,9.0,21.0
453,ALB,2020-05-28,-0.506397,-0.173215,NaN,2020-03-07,2020-03-25,0.0,11.0,26.0
454,ALB,2020-05-29,-0.332509,-0.237943,NaN,2020-03-07,2020-03-25,0.0,28.0,23.0
455,ALB,2020-05-30,0.057557,-0.302913,NaN,2020-03-07,2020-03-25,0.0,6.0,23.0
456,ALB,2020-05-31,-0.688453,-0.367368,NaN,2020-03-07,2020-03-25,0.0,15.0,15.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
457,ARE,2020-01-01,4.836081,2.236139,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
458,ARE,2020-01-02,1.720845,1.726068,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
459,ARE,2020-01-03,0.161223,1.222315,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
460,ARE,2020-01-04,-0.205698,0.718094,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
461,ARE,2020-01-05,-0.609683,0.221070,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
604,ARE,2020-05-27,-0.146897,0.452311,-50.714286,2020-03-07,2020-03-15,2.0,389.0,883.0
605,ARE,2020-05-28,-1.270816,-0.433615,-52.285714,2020-03-07,2020-03-15,3.0,314.0,563.0
606,ARE,2020-05-29,-0.427044,-1.320385,-58.000000,2020-03-07,2020-03-15,2.0,412.0,638.0
607,ARE,2020-05-30,-1.031135,-2.209622,-48.000000,2020-03-07,2020-03-15,2.0,449.0,726.0
608,ARE,2020-05-31,-1.713833,-3.113705,-45.285714,2020-03-07,2020-03-15,2.0,386.0,661.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
609,ARG,2020-01-01,9.537303,4.059912,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
610,ARG,2020-01-02,1.101754,3.210715,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
611,ARG,2020-01-03,-0.076065,2.400063,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
612,ARG,2020-01-04,0.383528,1.606204,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
613,ARG,2020-01-05,0.147128,0.826426,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
756,ARG,2020-05-27,0.875356,2.043228,-56.639423,2020-03-10,2020-03-16,16.0,182.0,705.0
757,ARG,2020-05-28,2.152221,2.069126,-57.164251,2020-03-10,2020-03-16,8.0,268.0,769.0
758,ARG,2020-05-29,2.546837,2.097571,-57.425926,2020-03-10,2020-03-16,12.0,171.0,717.0
759,ARG,2020-05-30,2.248039,2.131397,-61.275362,2020-03-10,2020-03-16,8.0,0.0,795.0
760,ARG,2020-05-31,2.327241,2.167186,-70.390533,2020-03-10,2020-03-16,11.0,548.0,637.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
761,AUS,2020-01-01,0.964270,-1.946896,NaN,2020-03-01,2020-03-15,NaN,NaN,NaN
762,AUS,2020-01-02,-2.675699,-1.884639,NaN,2020-03-01,2020-03-15,NaN,NaN,NaN
763,AUS,2020-01-03,-2.604089,-1.803190,NaN,2020-03-01,2020-03-15,NaN,NaN,NaN
764,AUS,2020-01-04,-3.130993,-1.713693,NaN,2020-03-01,2020-03-15,NaN,NaN,NaN
765,AUS,2020-01-05,-2.350094,-1.623787,NaN,2020-03-01,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
908,AUS,2020-05-27,0.512018,0.348819,-43.333333,2020-03-01,2020-03-15,0.0,19.0,11.0
909,AUS,2020-05-28,0.209174,0.156500,-42.222222,2020-03-01,2020-03-15,0.0,1.0,15.0
910,AUS,2020-05-29,0.191956,-0.035965,-41.666667,2020-03-01,2020-03-15,0.0,29.0,19.0
911,AUS,2020-05-30,0.157260,-0.228283,-36.222222,2020-03-01,2020-03-15,0.0,9.0,8.0
912,AUS,2020-05-31,-0.425124,-0.422181,-44.666667,2020-03-01,2020-03-15,0.0,4.0,10.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
913,AUT,2020-01-01,4.195560,2.033038,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
914,AUT,2020-01-02,0.532966,1.681126,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
915,AUT,2020-01-03,0.034985,1.346170,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
916,AUT,2020-01-04,1.246750,1.021636,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
917,AUT,2020-01-05,0.608647,0.712882,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1060,AUT,2020-05-27,0.521789,0.251245,-32.000000,2020-03-08,2020-03-14,2.0,46.0,34.0
1061,AUT,2020-05-28,0.367637,0.229087,-37.888889,2020-03-08,2020-03-14,23.0,58.0,37.0
1062,AUT,2020-05-29,0.749880,0.215468,-33.222222,2020-03-08,2020-03-14,0.0,61.0,27.0
1063,AUT,2020-05-30,0.122258,0.202987,-33.111111,2020-03-08,2020-03-14,0.0,173.0,30.0
1064,AUT,2020-05-31,0.358103,0.182691,-41.333333,2020-03-08,2020-03-14,0.0,73.0,46.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
1065,AZE,2020-01-01,1.585550,1.169434,NaN,2020-03-09,2020-04-01,NaN,NaN,NaN
1066,AZE,2020-01-02,0.159700,1.025646,NaN,2020-03-09,2020-04-01,NaN,NaN,NaN
1067,AZE,2020-01-03,-0.415538,0.894333,NaN,2020-03-09,2020-04-01,NaN,NaN,NaN
1068,AZE,2020-01-04,1.073740,0.767983,NaN,2020-03-09,2020-04-01,NaN,NaN,NaN
1069,AZE,2020-01-05,0.890029,0.643388,NaN,2020-03-09,2020-04-01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1212,AZE,2020-05-27,-0.736546,-0.129050,NaN,2020-03-09,2020-04-01,4.0,156.0,330.0
1213,AZE,2020-05-28,0.372493,-0.352752,NaN,2020-03-09,2020-04-01,4.0,250.0,382.0
1214,AZE,2020-05-29,-0.352458,-0.573328,NaN,2020-03-09,2020-04-01,4.0,206.0,460.0
1215,AZE,2020-05-30,-1.067153,-0.790503,NaN,2020-03-09,2020-04-01,6.0,404.0,514.0
1216,AZE,2020-05-31,-1.212992,-1.013898,NaN,2020-03-09,2020-04-01,4.0,202.0,496.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
1217,BEL,2020-01-01,3.498759,1.451960,NaN,2020-02-26,2020-03-13,NaN,NaN,NaN
1218,BEL,2020-01-02,0.483390,0.886003,NaN,2020-02-26,2020-03-13,NaN,NaN,NaN
1219,BEL,2020-01-03,-1.493221,0.344360,NaN,2020-02-26,2020-03-13,NaN,NaN,NaN
1220,BEL,2020-01-04,0.325112,-0.184016,NaN,2020-02-26,2020-03-13,NaN,NaN,NaN
1221,BEL,2020-01-05,-1.537201,-0.701161,NaN,2020-02-26,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1364,BEL,2020-05-27,0.496423,0.693274,-35.214286,2020-02-26,2020-03-13,30.0,145.0,137.0
1365,BEL,2020-05-28,-0.216331,0.619131,-35.000000,2020-02-26,2020-03-13,24.0,107.0,257.0
1366,BEL,2020-05-29,1.379693,0.537881,-34.071429,2020-02-26,2020-03-13,42.0,110.0,212.0
1367,BEL,2020-05-30,0.770191,0.454297,-20.000000,2020-02-26,2020-03-13,23.0,87.0,125.0
1368,BEL,2020-05-31,0.627928,0.367126,-13.857143,2020-02-26,2020-03-13,14.0,118.0,195.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
1369,BEN,2020-01-01,1.443947,0.062190,NaN,2020-03-11,2020-03-03,NaN,NaN,NaN
1370,BEN,2020-01-02,-2.168260,-0.150153,NaN,2020-03-11,2020-03-03,NaN,NaN,NaN
1371,BEN,2020-01-03,-0.821543,-0.358500,NaN,2020-03-11,2020-03-03,NaN,NaN,NaN
1372,BEN,2020-01-04,-0.293455,-0.560559,NaN,2020-03-11,2020-03-03,NaN,NaN,NaN
1373,BEN,2020-01-05,0.078652,-0.747063,NaN,2020-03-11,2020-03-03,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1516,BEN,2020-05-27,0.649722,-0.436580,-19.5,2020-03-11,2020-03-03,0.0,16.0,2.0
1517,BEN,2020-05-28,-2.514375,-0.811093,-27.0,2020-03-11,2020-03-03,0.0,0.0,0.0
1518,BEN,2020-05-29,-0.382462,-1.200722,-19.0,2020-03-11,2020-03-03,0.0,2.0,14.0
1519,BEN,2020-05-30,-0.908126,-1.588506,-20.5,2020-03-11,2020-03-03,0.0,0.0,0.0
1520,BEN,2020-05-31,-1.772050,-1.968299,-23.0,2020-03-11,2020-03-03,0.0,7.0,8.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
1521,BGD,2020-01-01,2.997337,1.284946,NaN,2020-03-11,2020-03-22,NaN,NaN,NaN
1522,BGD,2020-01-02,0.643591,1.071166,NaN,2020-03-11,2020-03-22,NaN,NaN,NaN
1523,BGD,2020-01-03,-0.093940,0.855772,NaN,2020-03-11,2020-03-22,NaN,NaN,NaN
1524,BGD,2020-01-04,0.294683,0.635745,NaN,2020-03-11,2020-03-22,NaN,NaN,NaN
1525,BGD,2020-01-05,0.551906,0.421212,NaN,2020-03-11,2020-03-22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1668,BGD,2020-05-27,-0.241268,-0.561545,-62.0,2020-03-11,2020-03-22,22.0,346.0,1541.0
1669,BGD,2020-05-28,-0.177401,-0.285491,-55.0,2020-03-11,2020-03-22,15.0,500.0,2029.0
1670,BGD,2020-05-29,-0.507575,-0.005745,-51.0,2020-03-11,2020-03-22,23.0,590.0,2523.0
1671,BGD,2020-05-30,-0.081071,0.276323,-49.0,2020-03-11,2020-03-22,28.0,360.0,1764.0
1672,BGD,2020-05-31,-0.081572,0.565396,-42.0,2020-03-11,2020-03-22,40.0,406.0,2545.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
1673,BGR,2020-01-01,3.068763,0.703129,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
1674,BGR,2020-01-02,-1.038826,0.661539,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
1675,BGR,2020-01-03,-0.534749,0.620690,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
1676,BGR,2020-01-04,1.444384,0.581699,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
1677,BGR,2020-01-05,0.110481,0.556552,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1820,BGR,2020-05-27,0.040563,0.043686,-22.250000,2020-03-07,2020-03-12,3.0,32.0,17.0
1821,BGR,2020-05-28,-0.035079,-0.065178,-19.000000,2020-03-07,2020-03-12,1.0,53.0,17.0
1822,BGR,2020-05-29,0.633395,-0.179669,-20.214286,2020-03-07,2020-03-12,2.0,51.0,8.0
1823,BGR,2020-05-30,-0.117320,-0.297417,-15.100000,2020-03-07,2020-03-12,3.0,48.0,14.0
1824,BGR,2020-05-31,-0.015402,-0.418699,-25.125000,2020-03-07,2020-03-12,1.0,10.0,14.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
1825,BHR,2020-01-01,2.667830,0.362970,NaN,2020-03-06,2020-03-13,NaN,NaN,NaN
1826,BHR,2020-01-02,-0.151963,0.038477,NaN,2020-03-06,2020-03-13,NaN,NaN,NaN
1827,BHR,2020-01-03,-0.858288,-0.272363,NaN,2020-03-06,2020-03-13,NaN,NaN,NaN
1828,BHR,2020-01-04,-0.407190,-0.569750,NaN,2020-03-06,2020-03-13,NaN,NaN,NaN
1829,BHR,2020-01-05,-1.508073,-0.848030,NaN,2020-03-06,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1972,BHR,2020-05-27,0.794584,1.746077,-32.0,2020-03-06,2020-03-13,1.0,214.0,326.0
1973,BHR,2020-05-28,0.943309,0.754549,-33.0,2020-03-06,2020-03-13,0.0,267.0,360.0
1974,BHR,2020-05-29,-0.865719,-0.244830,-42.0,2020-03-06,2020-03-13,0.0,281.0,397.0
1975,BHR,2020-05-30,0.105491,-1.251227,-31.0,2020-03-06,2020-03-13,2.0,126.0,344.0
1976,BHR,2020-05-31,-0.615792,-2.273139,-26.0,2020-03-06,2020-03-13,2.0,847.0,605.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
1977,BIH,2020-01-01,3.838643,0.920945,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
1978,BIH,2020-01-02,-0.547384,0.736087,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
1979,BIH,2020-01-03,-1.334612,0.579324,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
1980,BIH,2020-01-04,0.227451,0.440241,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
1981,BIH,2020-01-05,-0.468910,0.312254,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2124,BIH,2020-05-27,-0.723542,0.517233,-23.0,2020-03-08,2020-03-21,2.0,23.0,19.0
2125,BIH,2020-05-28,1.038750,0.402897,-18.0,2020-03-08,2020-03-21,2.0,37.0,27.0
2126,BIH,2020-05-29,0.772365,0.285584,-24.0,2020-03-08,2020-03-21,0.0,22.0,23.0
2127,BIH,2020-05-30,1.948607,0.162743,-17.0,2020-03-08,2020-03-21,0.0,28.0,9.0
2128,BIH,2020-05-31,-0.271379,0.030859,-16.0,2020-03-08,2020-03-21,0.0,31.0,16.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
2129,BLR,2020-01-01,2.716880,1.508047,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
2130,BLR,2020-01-02,0.392505,1.158933,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
2131,BLR,2020-01-03,-1.305337,0.815658,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
2132,BLR,2020-01-04,0.982988,0.468386,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
2133,BLR,2020-01-05,0.307872,0.118120,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2276,BLR,2020-05-27,0.460588,1.048707,-6.0,2020-03-10,2020-03-17,6.0,837.0,897.0
2277,BLR,2020-05-28,-0.245865,1.119637,-6.0,2020-03-10,2020-03-17,5.0,737.0,902.0
2278,BLR,2020-05-29,2.382681,1.197653,-14.0,2020-03-10,2020-03-17,5.0,730.0,906.0
2279,BLR,2020-05-30,0.711632,1.279983,-30.0,2020-03-10,2020-03-17,5.0,574.0,894.0
2280,BLR,2020-05-31,2.173806,1.365979,-17.0,2020-03-10,2020-03-17,6.0,550.0,898.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
2281,BOL,2020-01-01,7.499553,3.658968,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
2282,BOL,2020-01-02,1.895289,3.108480,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
2283,BOL,2020-01-03,2.242455,2.573326,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
2284,BOL,2020-01-04,0.280169,2.043242,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
2285,BOL,2020-01-05,1.552834,1.516033,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2428,BOL,2020-05-27,2.151251,0.149787,-63.764706,2020-03-10,2020-03-13,6.0,12.0,632.0
2429,BOL,2020-05-28,-1.648115,-0.085692,-69.781250,2020-03-10,2020-03-13,13.0,49.0,619.0
2430,BOL,2020-05-29,-0.714339,-0.344378,-68.666667,2020-03-10,2020-03-13,7.0,11.0,344.0
2431,BOL,2020-05-30,0.375709,-0.623922,-83.642857,2020-03-10,2020-03-13,10.0,140.0,861.0
2432,BOL,2020-05-31,-1.476046,-0.917249,-85.200000,2020-03-10,2020-03-13,3.0,79.0,390.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
2433,BRA,2020-01-01,7.780323,3.679591,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
2434,BRA,2020-01-02,1.351296,2.895577,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
2435,BRA,2020-01-03,0.328040,2.134959,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
2436,BRA,2020-01-04,-0.217078,1.389907,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
2437,BRA,2020-01-05,0.851435,0.668567,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2580,BRA,2020-05-27,2.160955,2.864413,-43.575809,2020-03-11,2020-03-15,1086.0,8054.0,20599.0
2581,BRA,2020-05-28,2.308632,2.847510,-43.050435,2020-03-11,2020-03-15,1156.0,10957.0,26417.0
2582,BRA,2020-05-29,3.326091,2.825834,-42.052548,2020-03-11,2020-03-15,1124.0,11872.0,26928.0
2583,BRA,2020-05-30,3.882919,2.802300,-42.808333,2020-03-11,2020-03-15,956.0,11416.0,33274.0
2584,BRA,2020-05-31,2.854257,2.776939,-50.163743,2020-03-11,2020-03-15,480.0,5663.0,16409.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
2585,BRB,2020-01-01,2.108232,0.780223,NaN,2020-03-10,2020-04-02,NaN,NaN,NaN
2586,BRB,2020-01-02,0.453713,0.695303,NaN,2020-03-10,2020-04-02,NaN,NaN,NaN
2587,BRB,2020-01-03,-0.681770,0.617585,NaN,2020-03-10,2020-04-02,NaN,NaN,NaN
2588,BRB,2020-01-04,0.610587,0.538447,NaN,2020-03-10,2020-04-02,NaN,NaN,NaN
2589,BRB,2020-01-05,1.134693,0.459608,NaN,2020-03-10,2020-04-02,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2732,BRB,2020-05-27,-1.050194,-0.642524,-60.000000,2020-03-10,2020-04-02,0.0,5.0,0.0
2733,BRB,2020-05-28,-1.305170,-0.881558,-56.333333,2020-03-10,2020-04-02,0.0,0.0,0.0
2734,BRB,2020-05-29,-0.968072,-1.116098,-61.333333,2020-03-10,2020-04-02,0.0,0.0,0.0
2735,BRB,2020-05-30,-1.896719,-1.352353,-63.333333,2020-03-10,2020-04-02,0.0,0.0,0.0
2736,BRB,2020-05-31,-0.159154,-1.593391,-74.000000,2020-03-10,2020-04-02,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
2737,BRN,2020-01-01,3.181810,1.877214,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
2738,BRN,2020-01-02,-0.042217,1.394928,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
2739,BRN,2020-01-03,-0.464154,0.932490,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
2740,BRN,2020-01-04,-0.820898,0.486484,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
2741,BRN,2020-01-05,0.933782,0.059423,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2884,BRN,2020-05-27,-0.255480,0.817506,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
2885,BRN,2020-05-28,0.749801,0.312810,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
2886,BRN,2020-05-29,1.325282,-0.203699,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
2887,BRN,2020-05-30,0.733834,-0.729656,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
2888,BRN,2020-05-31,-1.469874,-1.275788,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
2889,BWA,2020-01-01,0.109157,-0.753153,NaN,2020-03-14,2020-03-25,NaN,NaN,NaN
2890,BWA,2020-01-02,-0.077069,-0.647291,NaN,2020-03-14,2020-03-25,NaN,NaN,NaN
2891,BWA,2020-01-03,-1.934465,-0.539354,NaN,2020-03-14,2020-03-25,NaN,NaN,NaN
2892,BWA,2020-01-04,-1.234467,-0.435840,NaN,2020-03-14,2020-03-25,NaN,NaN,NaN
2893,BWA,2020-01-05,0.242204,-0.336756,NaN,2020-03-14,2020-03-25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3036,BWA,2020-05-27,0.808313,1.079259,-25.000000,2020-03-14,2020-03-25,0.0,0.0,0.0
3037,BWA,2020-05-28,-0.123557,1.176736,-17.750000,2020-03-14,2020-03-25,0.0,0.0,0.0
3038,BWA,2020-05-29,1.740057,1.277226,-16.000000,2020-03-14,2020-03-25,0.0,0.0,0.0
3039,BWA,2020-05-30,1.981744,1.383729,-7.333333,2020-03-14,2020-03-25,0.0,0.0,0.0
3040,BWA,2020-05-31,2.261350,1.498419,-29.666667,2020-03-14,2020-03-25,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
3041,CAN,2020-01-01,5.769633,2.713314,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
3042,CAN,2020-01-02,0.556821,1.919015,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
3043,CAN,2020-01-03,-0.973001,1.146899,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
3044,CAN,2020-01-04,0.191290,0.383878,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
3045,CAN,2020-01-05,-0.891711,-0.366931,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3188,CAN,2020-05-27,-0.758272,-0.395552,-46.636364,2020-03-08,2020-03-14,123.0,896.0,899.0
3189,CAN,2020-05-28,-0.878292,-0.604401,-48.000000,2020-03-08,2020-03-14,106.0,713.0,987.0
3190,CAN,2020-05-29,-0.810173,-0.815168,-47.181818,2020-03-08,2020-03-14,81.0,944.0,933.0
3191,CAN,2020-05-30,0.050203,-1.022596,-40.090909,2020-03-08,2020-03-14,96.0,612.0,772.0
3192,CAN,2020-05-31,-1.379841,-1.224825,-40.363636,2020-03-08,2020-03-14,215.0,696.0,798.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
3193,CHE,2020-01-01,3.991276,2.438719,NaN,2020-02-23,2020-03-15,NaN,NaN,NaN
3194,CHE,2020-01-02,1.038098,1.939271,NaN,2020-02-23,2020-03-15,NaN,NaN,NaN
3195,CHE,2020-01-03,0.834663,1.457656,NaN,2020-02-23,2020-03-15,NaN,NaN,NaN
3196,CHE,2020-01-04,0.357115,0.987810,NaN,2020-02-23,2020-03-15,NaN,NaN,NaN
3197,CHE,2020-01-05,-0.240238,0.531067,NaN,2020-02-23,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3340,CHE,2020-05-27,-0.084489,0.390648,-16.653846,2020-02-23,2020-03-15,2.0,100.0,15.0
3341,CHE,2020-05-28,0.252410,0.375297,-20.423077,2020-02-23,2020-03-15,2.0,0.0,20.0
3342,CHE,2020-05-29,-0.495817,0.358799,-16.961538,2020-02-23,2020-03-15,0.0,0.0,32.0
3343,CHE,2020-05-30,0.424938,0.348547,-7.384615,2020-02-23,2020-03-15,0.0,100.0,17.0
3344,CHE,2020-05-31,1.288118,0.347036,8.960000,2020-02-23,2020-03-15,1.0,100.0,17.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
3345,CHL,2020-01-01,6.659053,2.831099,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
3346,CHL,2020-01-02,1.620291,2.243993,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
3347,CHL,2020-01-03,0.598890,1.681067,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
3348,CHL,2020-01-04,-1.022876,1.136671,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
3349,CHL,2020-01-05,1.011206,0.608806,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3492,CHL,2020-05-27,-1.583036,0.197765,-57.557377,2020-03-11,2020-03-18,35.0,2625.0,4328.0
3493,CHL,2020-05-28,-0.566822,0.101356,-59.354839,2020-03-11,2020-03-18,49.0,2575.0,4654.0
3494,CHL,2020-05-29,0.294743,-0.003575,-59.031250,2020-03-11,2020-03-18,54.0,2483.0,3695.0
3495,CHL,2020-05-30,1.808857,-0.107486,-59.460317,2020-03-11,2020-03-18,53.0,1833.0,13188.0
3496,CHL,2020-05-31,0.164860,-0.208924,-66.290323,2020-03-11,2020-03-18,57.0,2296.0,4830.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
3497,CHN,2020-01-01,5.935616,2.296420,NaN,2020-01-20,2020-01-29,NaN,NaN,NaN
3498,CHN,2020-01-02,0.330285,1.443444,NaN,2020-01-20,2020-01-29,NaN,NaN,NaN
3499,CHN,2020-01-03,-1.059883,0.623977,NaN,2020-01-20,2020-01-29,NaN,NaN,NaN
3500,CHN,2020-01-04,-0.621286,-0.169615,NaN,2020-01-20,2020-01-29,NaN,NaN,NaN
3501,CHN,2020-01-05,-1.026143,-0.938069,NaN,2020-01-20,2020-01-29,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3644,CHN,2020-05-27,0.611199,0.589647,NaN,2020-01-20,2020-01-29,0.0,9.0,3.0
3645,CHN,2020-05-28,0.678967,0.743838,NaN,2020-01-20,2020-01-29,0.0,4.0,0.0
3646,CHN,2020-05-29,0.574169,0.906931,NaN,2020-01-20,2020-01-29,0.0,11.0,17.0
3647,CHN,2020-05-30,1.423558,1.080705,NaN,2020-01-20,2020-01-29,0.0,4.0,5.0
3648,CHN,2020-05-31,2.090732,1.262272,NaN,2020-01-20,2020-01-29,0.0,3.0,18.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
3649,CIV,2020-01-01,1.826323,0.735718,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
3650,CIV,2020-01-02,0.050494,0.357174,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
3651,CIV,2020-01-03,-0.359408,-0.007191,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
3652,CIV,2020-01-04,-0.812083,-0.365779,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
3653,CIV,2020-01-05,-1.167014,-0.715179,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3796,CIV,2020-05-27,1.616958,1.391955,-17.00,2020-03-10,2020-03-16,NaN,NaN,NaN
3797,CIV,2020-05-28,1.263700,1.148162,-12.00,2020-03-10,2020-03-16,NaN,NaN,NaN
3798,CIV,2020-05-29,2.345764,0.900440,-14.75,2020-03-10,2020-03-16,NaN,NaN,NaN
3799,CIV,2020-05-30,-0.401837,0.649324,-23.50,2020-03-10,2020-03-16,NaN,NaN,NaN
3800,CIV,2020-05-31,0.407615,0.390014,-26.80,2020-03-10,2020-03-16,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
3801,CMR,2020-01-01,4.852286,1.457718,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
3802,CMR,2020-01-02,-0.146931,1.063230,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
3803,CMR,2020-01-03,-1.117575,0.698444,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
3804,CMR,2020-01-04,-0.971081,0.350443,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
3805,CMR,2020-01-05,-0.407812,0.009669,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3948,CMR,2020-05-27,-0.968830,-0.048811,-11.000000,2020-03-11,2020-03-20,0.0,0.0,0.0
3949,CMR,2020-05-28,-0.221867,-0.133085,-9.000000,2020-03-11,2020-03-20,0.0,0.0,0.0
3950,CMR,2020-05-29,-1.109000,-0.213519,-8.000000,2020-03-11,2020-03-20,2.0,1330.0,0.0
3951,CMR,2020-05-30,-0.510523,-0.287772,-6.666667,2020-03-11,2020-03-20,14.0,242.0,468.0
3952,CMR,2020-05-31,0.839740,-0.347231,-11.333333,2020-03-11,2020-03-20,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
3953,COD,2020-01-01,4.923707,3.078021,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
3954,COD,2020-01-02,1.886006,2.272531,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
3955,COD,2020-01-03,0.947970,1.498730,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
3956,COD,2020-01-04,0.177714,0.753628,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
3957,COD,2020-01-05,-0.408882,0.026292,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4100,COD,2020-05-27,-1.541117,0.364831,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
4101,COD,2020-05-28,0.137850,0.330849,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
4102,COD,2020-05-29,0.648191,0.294564,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
4103,COD,2020-05-30,0.812693,0.269537,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
4104,COD,2020-05-31,1.556411,0.256180,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
4105,COL,2020-01-01,9.483240,5.713276,NaN,2020-03-08,2020-03-16,NaN,NaN,NaN
4106,COL,2020-01-02,3.838302,4.948058,NaN,2020-03-08,2020-03-16,NaN,NaN,NaN
4107,COL,2020-01-03,2.265944,4.201279,NaN,2020-03-08,2020-03-16,NaN,NaN,NaN
4108,COL,2020-01-04,1.876959,3.460617,NaN,2020-03-08,2020-03-16,NaN,NaN,NaN
4109,COL,2020-01-05,2.262089,2.726989,NaN,2020-03-08,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4252,COL,2020-05-27,-0.199594,0.209125,-62.038462,2020-03-08,2020-03-16,27.0,600.0,1101.0
4253,COL,2020-05-28,-0.938202,0.051173,-61.615385,2020-03-08,2020-03-16,19.0,21.0,1262.0
4254,COL,2020-05-29,-0.855511,-0.115689,-61.185185,2020-03-08,2020-03-16,31.0,555.0,1322.0
4255,COL,2020-05-30,1.106821,-0.290868,-66.961538,2020-03-08,2020-03-16,37.0,248.0,1548.0
4256,COL,2020-05-31,0.226073,-0.467159,-71.769231,2020-03-08,2020-03-16,49.0,97.0,1147.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
4257,CRI,2020-01-01,5.613883,3.935858,NaN,2020-03-05,2020-03-11,NaN,NaN,NaN
4258,CRI,2020-01-02,2.040580,3.195302,NaN,2020-03-05,2020-03-11,NaN,NaN,NaN
4259,CRI,2020-01-03,1.322972,2.485256,NaN,2020-03-05,2020-03-11,NaN,NaN,NaN
4260,CRI,2020-01-04,2.116613,1.796156,NaN,2020-03-05,2020-03-11,NaN,NaN,NaN
4261,CRI,2020-01-05,0.945217,1.123318,NaN,2020-03-05,2020-03-11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4404,CRI,2020-05-27,0.149604,0.687471,-47.0,2020-03-05,2020-03-11,0.0,5.0,28.0
4405,CRI,2020-05-28,0.577915,0.819715,-45.0,2020-03-05,2020-03-11,0.0,7.0,16.0
4406,CRI,2020-05-29,-0.031481,0.944961,-41.0,2020-03-05,2020-03-11,0.0,7.0,22.0
4407,CRI,2020-05-30,2.766737,1.068691,-50.0,2020-03-05,2020-03-11,0.0,5.0,25.0
4408,CRI,2020-05-31,0.852550,1.194036,-56.0,2020-03-05,2020-03-11,0.0,11.0,9.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
4409,CUB,2020-01-01,1.971224,0.342261,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
4410,CUB,2020-01-02,-0.323137,0.224432,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
4411,CUB,2020-01-03,-1.779913,0.114032,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
4412,CUB,2020-01-04,0.921827,0.004113,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
4413,CUB,2020-01-05,-1.011439,-0.102077,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4556,CUB,2020-05-27,0.142442,0.479653,NaN,2020-03-09,2020-03-20,0.0,15.0,11.0
4557,CUB,2020-05-28,1.005060,0.461489,NaN,2020-03-09,2020-03-20,0.0,10.0,9.0
4558,CUB,2020-05-29,0.356505,0.435379,NaN,2020-03-09,2020-03-20,0.0,26.0,22.0
4559,CUB,2020-05-30,1.092236,0.407891,NaN,2020-03-09,2020-03-20,1.0,35.0,20.0
4560,CUB,2020-05-31,-0.176118,0.382504,NaN,2020-03-09,2020-03-20,0.0,14.0,20.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
4561,CYP,2020-01-01,1.960522,0.611461,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
4562,CYP,2020-01-02,-0.815146,0.244940,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
4563,CYP,2020-01-03,0.178378,-0.110977,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
4564,CYP,2020-01-04,-1.293289,-0.459020,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
4565,CYP,2020-01-05,-0.388575,-0.796252,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4708,CYP,2020-05-27,0.655807,1.285297,NaN,2020-03-08,2020-03-12,0.0,0.0,0.0
4709,CYP,2020-05-28,0.604608,1.133109,NaN,2020-03-08,2020-03-12,0.0,380.0,4.0
4710,CYP,2020-05-29,1.521083,0.975732,NaN,2020-03-08,2020-03-12,0.0,0.0,2.0
4711,CYP,2020-05-30,0.232257,0.817760,NaN,2020-03-08,2020-03-12,0.0,12.0,4.0
4712,CYP,2020-05-31,1.515835,0.664387,NaN,2020-03-08,2020-03-12,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
4713,CZE,2020-01-01,3.717880,2.661948,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
4714,CZE,2020-01-02,0.452839,2.292437,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
4715,CZE,2020-01-03,0.100826,1.932730,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
4716,CZE,2020-01-04,0.473382,1.583453,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
4717,CZE,2020-01-05,2.532511,1.249697,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4860,CZE,2020-05-27,-0.115829,-0.871631,-7.400000,2020-03-07,2020-03-13,NaN,NaN,NaN
4861,CZE,2020-05-28,-2.624852,-1.022894,-16.533333,2020-03-07,2020-03-13,NaN,NaN,NaN
4862,CZE,2020-05-29,-0.224390,-1.181122,-10.466667,2020-03-07,2020-03-13,NaN,NaN,NaN
4863,CZE,2020-05-30,-0.606004,-1.334897,6.266667,2020-03-07,2020-03-13,NaN,NaN,NaN
4864,CZE,2020-05-31,-1.932030,-1.482495,-18.733333,2020-03-07,2020-03-13,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
4865,DEU,2020-01-01,5.511653,2.503112,NaN,2020-02-25,2020-03-14,NaN,NaN,NaN
4866,DEU,2020-01-02,1.188334,2.058247,NaN,2020-02-25,2020-03-14,NaN,NaN,NaN
4867,DEU,2020-01-03,0.631143,1.637678,NaN,2020-02-25,2020-03-14,NaN,NaN,NaN
4868,DEU,2020-01-04,0.263285,1.228384,NaN,2020-02-25,2020-03-14,NaN,NaN,NaN
4869,DEU,2020-01-05,0.011375,0.826286,NaN,2020-02-25,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5012,DEU,2020-05-27,-0.255657,0.656944,-25.058824,2020-02-25,2020-03-14,56.0,853.0,324.0
5013,DEU,2020-05-28,0.474362,0.536886,-24.941176,2020-02-25,2020-03-14,42.0,540.0,672.0
5014,DEU,2020-05-29,1.624720,0.416862,-21.823529,2020-02-25,2020-03-14,34.0,885.0,726.0
5015,DEU,2020-05-30,1.202050,0.303404,-11.000000,2020-02-25,2020-03-14,26.0,663.0,267.0
5016,DEU,2020-05-31,-0.523584,0.192363,-9.294118,2020-02-25,2020-03-14,10.0,444.0,221.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
5017,DNK,2020-01-01,2.740897,1.723173,NaN,2020-03-04,2020-03-12,NaN,NaN,NaN
5018,DNK,2020-01-02,0.733864,1.356428,NaN,2020-03-04,2020-03-12,NaN,NaN,NaN
5019,DNK,2020-01-03,0.766333,0.996622,NaN,2020-03-04,2020-03-12,NaN,NaN,NaN
5020,DNK,2020-01-04,1.684445,0.647814,NaN,2020-03-04,2020-03-12,NaN,NaN,NaN
5021,DNK,2020-01-05,0.392179,0.316931,NaN,2020-03-04,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5164,DNK,2020-05-27,-0.221907,0.125020,-20.333333,2020-03-04,2020-03-12,2.0,62.0,53.0
5165,DNK,2020-05-28,-0.126419,0.016750,-17.333333,2020-03-04,2020-03-12,3.0,74.0,32.0
5166,DNK,2020-05-29,-0.347961,-0.100767,-11.833333,2020-03-04,2020-03-12,0.0,60.0,81.0
5167,DNK,2020-05-30,0.340551,-0.222819,3.000000,2020-03-04,2020-03-12,3.0,87.0,40.0
5168,DNK,2020-05-31,-0.662665,-0.351059,-6.000000,2020-03-04,2020-03-12,3.0,35.0,36.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
5169,DOM,2020-01-01,4.364348,1.944899,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
5170,DOM,2020-01-02,0.585316,1.535124,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
5171,DOM,2020-01-03,-0.185259,1.143756,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
5172,DOM,2020-01-04,0.118551,0.763505,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
5173,DOM,2020-01-05,0.214604,0.395053,NaN,2020-03-08,2020-03-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5316,DOM,2020-05-27,0.373231,0.202209,-60.000000,2020-03-08,2020-03-21,6.0,256.0,459.0
5317,DOM,2020-05-28,-0.313048,0.209099,-62.333333,2020-03-08,2020-03-21,11.0,162.0,345.0
5318,DOM,2020-05-29,-0.220010,0.224297,-62.166667,2020-03-08,2020-03-21,3.0,314.0,463.0
5319,DOM,2020-05-30,-0.717492,0.243364,-60.333333,2020-03-08,2020-03-21,10.0,291.0,377.0
5320,DOM,2020-05-31,2.055549,0.264984,-63.416667,2020-03-08,2020-03-21,4.0,1002.0,377.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
5321,DZA,2020-01-01,0.258854,0.584964,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
5322,DZA,2020-01-02,2.496463,0.452636,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
5323,DZA,2020-01-03,-0.616612,0.336124,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
5324,DZA,2020-01-04,-0.009542,0.225751,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
5325,DZA,2020-01-05,-0.826641,0.107963,NaN,2020-03-09,2020-03-20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5468,DZA,2020-05-27,0.727868,0.720328,NaN,2020-03-09,2020-03-20,6.0,211.0,160.0
5469,DZA,2020-05-28,0.307001,0.238904,NaN,2020-03-09,2020-03-20,7.0,148.0,140.0
5470,DZA,2020-05-29,0.302086,-0.258387,NaN,2020-03-09,2020-03-20,8.0,145.0,137.0
5471,DZA,2020-05-30,0.413513,-0.782278,NaN,2020-03-09,2020-03-20,8.0,127.0,133.0
5472,DZA,2020-05-31,0.274971,-1.340304,NaN,2020-03-09,2020-03-20,7.0,199.0,127.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
5473,ECU,2020-01-01,8.576116,4.699136,NaN,2020-03-08,2020-03-17,NaN,NaN,NaN
5474,ECU,2020-01-02,2.177041,4.053319,NaN,2020-03-08,2020-03-17,NaN,NaN,NaN
5475,ECU,2020-01-03,1.933610,3.432487,NaN,2020-03-08,2020-03-17,NaN,NaN,NaN
5476,ECU,2020-01-04,1.480193,2.826929,NaN,2020-03-08,2020-03-17,NaN,NaN,NaN
5477,ECU,2020-01-05,1.987935,2.235896,NaN,2020-03-08,2020-03-17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5620,ECU,2020-05-27,-0.041587,0.062489,-64.962963,2020-03-08,2020-03-17,72.0,422.0,748.0
5621,ECU,2020-05-28,0.080146,0.164121,-64.188679,2020-03-08,2020-03-17,38.0,0.0,368.0
5622,ECU,2020-05-29,0.520820,0.262471,-65.892857,2020-03-08,2020-03-17,21.0,765.0,100.0
5623,ECU,2020-05-30,-0.101243,0.353127,-70.259259,2020-03-08,2020-03-17,0.0,0.0,0.0
5624,ECU,2020-05-31,-0.134886,0.436031,-77.333333,2020-03-08,2020-03-17,24.0,402.0,527.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
5625,EGY,2020-01-01,4.062742,1.162420,NaN,2020-03-07,2020-03-14,NaN,NaN,NaN
5626,EGY,2020-01-02,-0.482564,0.784652,NaN,2020-03-07,2020-03-14,NaN,NaN,NaN
5627,EGY,2020-01-03,-1.056799,0.426173,NaN,2020-03-07,2020-03-14,NaN,NaN,NaN
5628,EGY,2020-01-04,-1.982456,0.071483,NaN,2020-03-07,2020-03-14,NaN,NaN,NaN
5629,EGY,2020-01-05,-0.438110,-0.278702,NaN,2020-03-07,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5772,EGY,2020-05-27,-1.318958,-0.136316,-71.000000,2020-03-07,2020-03-14,19.0,178.0,910.0
5773,EGY,2020-05-28,-1.052556,-0.791195,-71.826087,2020-03-07,2020-03-14,29.0,154.0,1127.0
5774,EGY,2020-05-29,-0.999956,-1.443915,-63.863636,2020-03-07,2020-03-14,34.0,152.0,1289.0
5775,EGY,2020-05-30,0.016790,-2.100681,-38.000000,2020-03-07,2020-03-14,34.0,182.0,1367.0
5776,EGY,2020-05-31,-0.668426,-2.772051,-39.458333,2020-03-07,2020-03-14,46.0,344.0,1536.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
5777,ESP,2020-01-01,4.941258,2.428588,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
5778,ESP,2020-01-02,1.027247,1.952965,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
5779,ESP,2020-01-03,-0.186733,1.497456,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
5780,ESP,2020-01-04,0.292653,1.047862,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
5781,ESP,2020-01-05,0.603976,0.601382,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5924,ESP,2020-05-27,-0.467052,-0.156260,-41.854839,2020-03-08,2020-03-13,0.0,0.0,0.0
5925,ESP,2020-05-28,-0.388091,-0.098755,-42.322581,2020-03-08,2020-03-13,2.0,0.0,1647.0
5926,ESP,2020-05-29,0.372228,-0.046986,-44.854839,2020-03-08,2020-03-13,2.0,0.0,658.0
5927,ESP,2020-05-30,0.784643,0.002339,-40.274194,2020-03-08,2020-03-13,4.0,0.0,664.0
5928,ESP,2020-05-31,-0.427666,0.049345,-51.435484,2020-03-08,2020-03-13,2.0,0.0,251.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
5929,EST,2020-01-01,2.059567,0.678889,NaN,2020-03-10,2020-03-20,NaN,NaN,NaN
5930,EST,2020-01-02,-0.833670,0.440242,NaN,2020-03-10,2020-03-20,NaN,NaN,NaN
5931,EST,2020-01-03,-1.124430,0.206070,NaN,2020-03-10,2020-03-20,NaN,NaN,NaN
5932,EST,2020-01-04,0.019591,-0.027714,NaN,2020-03-10,2020-03-20,NaN,NaN,NaN
5933,EST,2020-01-05,-0.204169,-0.256065,NaN,2020-03-10,2020-03-20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6076,EST,2020-05-27,-0.135627,0.705602,-1.857143,2020-03-10,2020-03-20,1.0,9.0,6.0
6077,EST,2020-05-28,-0.218486,0.745095,-7.142857,2020-03-10,2020-03-20,0.0,13.0,11.0
6078,EST,2020-05-29,0.939527,0.791180,-1.285714,2020-03-10,2020-03-20,1.0,36.0,8.0
6079,EST,2020-05-30,-0.036286,0.846377,-1.833333,2020-03-10,2020-03-20,0.0,12.0,6.0
6080,EST,2020-05-31,-0.003719,0.907575,-2.833333,2020-03-10,2020-03-20,1.0,2.0,4.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
6081,ETH,2020-01-01,1.326677,0.886312,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
6082,ETH,2020-01-02,-0.715899,0.679471,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
6083,ETH,2020-01-03,-0.948381,0.470751,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
6084,ETH,2020-01-04,0.861669,0.255465,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
6085,ETH,2020-01-05,0.123270,0.040677,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6228,ETH,2020-05-27,-0.761069,0.039636,NaN,2020-03-11,2020-03-14,0.0,14.0,30.0
6229,ETH,2020-05-28,-1.015995,0.118573,NaN,2020-03-11,2020-03-14,1.0,10.0,100.0
6230,ETH,2020-05-29,-0.443835,0.201511,NaN,2020-03-11,2020-03-14,1.0,6.0,137.0
6231,ETH,2020-05-30,-1.252560,0.297968,NaN,2020-03-11,2020-03-14,0.0,11.0,95.0
6232,ETH,2020-05-31,2.392187,0.412846,NaN,2020-03-11,2020-03-14,3.0,1.0,109.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
6233,FIN,2020-01-01,2.663130,2.298124,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
6234,FIN,2020-01-02,2.024601,1.908963,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
6235,FIN,2020-01-03,2.083494,1.537873,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
6236,FIN,2020-01-04,0.639120,1.179262,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
6237,FIN,2020-01-05,0.552828,0.826987,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6380,FIN,2020-05-27,1.530610,0.035952,-29.565217,2020-03-08,2020-03-13,1.0,0.0,64.0
6381,FIN,2020-05-28,-0.182622,-0.215769,-30.391304,2020-03-08,2020-03-13,0.0,400.0,51.0
6382,FIN,2020-05-29,1.093826,-0.475493,-34.326923,2020-03-08,2020-03-13,1.0,0.0,33.0
6383,FIN,2020-05-30,-0.937553,-0.753463,-19.550000,2020-03-08,2020-03-13,2.0,0.0,50.0
6384,FIN,2020-05-31,-1.880157,-1.060438,-32.837209,2020-03-08,2020-03-13,4.0,0.0,33.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
6385,FRA,2020-01-01,6.649224,2.720942,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
6386,FRA,2020-01-02,0.771409,1.990033,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
6387,FRA,2020-01-03,-0.895809,1.294617,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
6388,FRA,2020-01-04,-0.161098,0.621043,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
6389,FRA,2020-01-05,-1.196143,-0.034573,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6532,FRA,2020-05-27,0.605982,1.196768,-36.327273,2020-03-08,2020-03-14,66.0,705.0,191.0
6533,FRA,2020-05-28,0.351614,1.131578,-37.563636,2020-03-08,2020-03-14,66.0,607.0,3326.0
6534,FRA,2020-05-29,1.007563,1.059828,-41.572727,2020-03-08,2020-03-14,52.0,612.0,559.0
6535,FRA,2020-05-30,1.832923,0.992204,-34.568807,2020-03-08,2020-03-14,57.0,465.0,1829.0
6536,FRA,2020-05-31,1.385142,0.927459,-40.954128,2020-03-08,2020-03-14,31.0,87.0,257.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
6537,GBR,2020-01-01,2.486223,0.378206,NaN,2020-03-02,2020-03-15,NaN,NaN,NaN
6538,GBR,2020-01-02,-0.619861,0.087367,NaN,2020-03-02,2020-03-15,NaN,NaN,NaN
6539,GBR,2020-01-03,-0.342433,-0.189431,NaN,2020-03-02,2020-03-15,NaN,NaN,NaN
6540,GBR,2020-01-04,-0.678448,-0.456986,NaN,2020-03-02,2020-03-15,NaN,NaN,NaN
6541,GBR,2020-01-05,-1.300317,-0.712874,NaN,2020-03-02,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6684,GBR,2020-05-27,-0.812729,-1.066592,-44.666667,2020-03-02,2020-03-15,443.0,5.0,1809.0
6685,GBR,2020-05-28,-0.948655,-0.903932,-44.020270,2020-03-02,2020-03-15,416.0,1.0,1736.0
6686,GBR,2020-05-29,0.250548,-0.735155,-42.945946,2020-03-02,2020-03-15,373.0,5.0,1508.0
6687,GBR,2020-05-30,0.464380,-0.555573,-37.993151,2020-03-02,2020-03-15,230.0,15.0,1107.0
6688,GBR,2020-05-31,-1.314980,-0.364660,-31.468085,2020-03-02,2020-03-15,115.0,3.0,1070.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
6689,GEO,2020-01-01,2.106305,1.034353,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
6690,GEO,2020-01-02,0.115417,0.663907,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
6691,GEO,2020-01-03,-0.819554,0.295780,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
6692,GEO,2020-01-04,0.670989,-0.072645,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
6693,GEO,2020-01-05,-0.687883,-0.429148,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6836,GEO,2020-05-27,-0.311852,0.560348,NaN,2020-03-09,2020-03-13,0.0,40.0,6.0
6837,GEO,2020-05-28,0.930516,0.312995,NaN,2020-03-09,2020-03-13,0.0,32.0,6.0
6838,GEO,2020-05-29,-0.038851,0.078266,NaN,2020-03-09,2020-03-13,0.0,6.0,16.0
6839,GEO,2020-05-30,0.216114,-0.147775,NaN,2020-03-09,2020-03-13,0.0,48.0,22.0
6840,GEO,2020-05-31,-2.016628,-0.373823,NaN,2020-03-09,2020-03-13,0.0,10.0,52.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
6841,GHA,2020-01-01,1.752835,-0.196146,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
6842,GHA,2020-01-02,-0.763027,-0.435926,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
6843,GHA,2020-01-03,-1.163113,-0.665440,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
6844,GHA,2020-01-04,-1.930809,-0.890660,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
6845,GHA,2020-01-05,-1.597342,-1.110787,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6988,GHA,2020-05-27,1.045151,1.534173,-23.333333,2020-03-10,2020-03-15,0.0,95.0,186.0
6989,GHA,2020-05-28,1.471423,1.175763,-28.000000,2020-03-10,2020-03-15,0.0,0.0,0.0
6990,GHA,2020-05-29,1.712811,0.807954,-24.333333,2020-03-10,2020-03-15,0.0,9.0,313.0
6991,GHA,2020-05-30,0.141848,0.432771,-28.000000,2020-03-10,2020-03-15,1.0,119.0,152.0
6992,GHA,2020-05-31,-0.475970,0.046637,-30.000000,2020-03-10,2020-03-15,1.0,407.0,302.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
6993,GMB,2020-01-01,0.885535,-0.055401,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
6994,GMB,2020-01-02,0.272298,-0.263080,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
6995,GMB,2020-01-03,-1.424733,-0.456979,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
6996,GMB,2020-01-04,-0.255744,-0.638501,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
6997,GMB,2020-01-05,-0.753995,-0.807538,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7140,GMB,2020-05-27,-0.505381,0.073848,NaN,2020-03-10,2020-03-16,0.0,1.0,0.0
7141,GMB,2020-05-28,-1.210836,-0.228362,NaN,2020-03-10,2020-03-16,0.0,0.0,0.0
7142,GMB,2020-05-29,0.285857,-0.531665,NaN,2020-03-10,2020-03-16,0.0,1.0,0.0
7143,GMB,2020-05-30,0.387479,-0.831947,NaN,2020-03-10,2020-03-16,0.0,0.0,0.0
7144,GMB,2020-05-31,-1.169851,-1.134650,NaN,2020-03-10,2020-03-16,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
7145,GRC,2020-01-01,5.461426,2.782431,NaN,2020-03-05,2020-03-28,NaN,NaN,NaN
7146,GRC,2020-01-02,1.031910,2.177794,NaN,2020-03-05,2020-03-28,NaN,NaN,NaN
7147,GRC,2020-01-03,1.463327,1.594304,NaN,2020-03-05,2020-03-28,NaN,NaN,NaN
7148,GRC,2020-01-04,-0.006461,1.028069,NaN,2020-03-05,2020-03-28,NaN,NaN,NaN
7149,GRC,2020-01-05,-1.385875,0.475663,NaN,2020-03-05,2020-03-28,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7292,GRC,2020-05-27,0.826776,0.264127,-18.875,2020-03-05,2020-03-28,0.0,0.0,11.0
7293,GRC,2020-05-28,-2.113082,0.388564,-17.000,2020-03-05,2020-03-28,2.0,0.0,3.0
7294,GRC,2020-05-29,-0.162373,0.509360,-16.875,2020-03-05,2020-03-28,0.0,0.0,3.0
7295,GRC,2020-05-30,0.341199,0.645300,-10.125,2020-03-05,2020-03-28,0.0,0.0,6.0
7296,GRC,2020-05-31,1.690675,0.801227,-15.500,2020-03-05,2020-03-28,0.0,0.0,2.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
7297,GTM,2020-01-01,6.016508,3.030340,NaN,2020-03-09,2020-03-16,NaN,NaN,NaN
7298,GTM,2020-01-02,0.395056,2.389197,NaN,2020-03-09,2020-03-16,NaN,NaN,NaN
7299,GTM,2020-01-03,0.844212,1.770312,NaN,2020-03-09,2020-03-16,NaN,NaN,NaN
7300,GTM,2020-01-04,1.112278,1.163425,NaN,2020-03-09,2020-03-16,NaN,NaN,NaN
7301,GTM,2020-01-05,0.329294,0.570450,NaN,2020-03-09,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7444,GTM,2020-05-27,0.017961,-0.225695,-57.928571,2020-03-09,2020-03-16,5.0,204.0,191.0
7445,GTM,2020-05-28,-1.199770,-0.222141,-54.923077,2020-03-09,2020-03-16,12.0,72.0,203.0
7446,GTM,2020-05-29,0.058214,-0.220065,-50.428571,2020-03-09,2020-03-16,10.0,83.0,259.0
7447,GTM,2020-05-30,1.305739,-0.212432,-88.700000,2020-03-09,2020-03-16,12.0,58.0,132.0
7448,GTM,2020-05-31,-0.516961,-0.201616,-89.800000,2020-03-09,2020-03-16,6.0,29.0,348.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
7449,GUM,2020-01-01,2.623456,2.887307,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
7450,GUM,2020-01-02,3.989535,2.454586,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
7451,GUM,2020-01-03,0.989769,2.027693,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
7452,GUM,2020-01-04,1.995771,1.606099,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
7453,GUM,2020-01-05,1.191701,1.195031,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7596,GUM,2020-05-27,0.937227,-0.473015,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
7597,GUM,2020-05-28,-0.451565,-0.567480,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
7598,GUM,2020-05-29,-0.127124,-0.659099,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
7599,GUM,2020-05-30,-1.659886,-0.754119,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN
7600,GUM,2020-05-31,-0.491954,-0.855382,NaN,2020-03-11,2020-03-20,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
7601,HKG,2020-01-01,1.383323,1.229851,NaN,2020-02-22,2020-03-18,NaN,NaN,NaN
7602,HKG,2020-01-02,0.943291,1.007669,NaN,2020-02-22,2020-03-18,NaN,NaN,NaN
7603,HKG,2020-01-03,0.978831,0.795491,NaN,2020-02-22,2020-03-18,NaN,NaN,NaN
7604,HKG,2020-01-04,0.474398,0.592178,NaN,2020-02-22,2020-03-18,NaN,NaN,NaN
7605,HKG,2020-01-05,0.563252,0.395060,NaN,2020-02-22,2020-03-18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7748,HKG,2020-05-27,-1.428347,-0.011767,-23.0,2020-02-22,2020-03-18,NaN,NaN,NaN
7749,HKG,2020-05-28,0.404010,0.038367,-17.0,2020-02-22,2020-03-18,NaN,NaN,NaN
7750,HKG,2020-05-29,0.456386,0.098645,-19.0,2020-02-22,2020-03-18,NaN,NaN,NaN
7751,HKG,2020-05-30,-0.509967,0.164825,-27.0,2020-02-22,2020-03-18,NaN,NaN,NaN
7752,HKG,2020-05-31,0.413187,0.234361,-21.0,2020-02-22,2020-03-18,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
7753,HND,2020-01-01,5.293775,2.955310,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
7754,HND,2020-01-02,1.492124,2.454855,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
7755,HND,2020-01-03,1.242928,1.977731,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
7756,HND,2020-01-04,0.205283,1.512372,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
7757,HND,2020-01-05,0.907356,1.050769,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7900,HND,2020-05-27,-0.716039,0.787338,-58.600000,2020-03-10,2020-03-15,6.0,13.0,239.0
7901,HND,2020-05-28,0.174122,0.796276,-60.800000,2020-03-10,2020-03-15,2.0,13.0,112.0
7902,HND,2020-05-29,0.942265,0.794925,-55.238095,2020-03-10,2020-03-15,0.0,0.0,0.0
7903,HND,2020-05-30,1.371868,0.793293,-70.062500,2020-03-10,2020-03-15,5.0,17.0,342.0
7904,HND,2020-05-31,1.315562,0.802151,-75.000000,2020-03-10,2020-03-15,11.0,1.0,108.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
7905,HUN,2020-01-01,1.545912,-0.336808,NaN,2020-03-07,2020-03-10,NaN,NaN,NaN
7906,HUN,2020-01-02,-0.342874,-0.491791,NaN,2020-03-07,2020-03-10,NaN,NaN,NaN
7907,HUN,2020-01-03,-1.540569,-0.622668,NaN,2020-03-07,2020-03-10,NaN,NaN,NaN
7908,HUN,2020-01-04,-2.159793,-0.741698,NaN,2020-03-07,2020-03-10,NaN,NaN,NaN
7909,HUN,2020-01-05,-1.452160,-0.856887,NaN,2020-03-07,2020-03-10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8052,HUN,2020-05-27,0.989363,-0.472727,-23.476190,2020-03-07,2020-03-10,6.0,20.0,22.0
8053,HUN,2020-05-28,-0.537219,-0.460710,-21.857143,2020-03-07,2020-03-10,4.0,140.0,23.0
8054,HUN,2020-05-29,-0.578057,-0.450685,-19.857143,2020-03-07,2020-03-10,8.0,28.0,25.0
8055,HUN,2020-05-30,0.626483,-0.443687,6.714286,2020-03-07,2020-03-10,7.0,118.0,26.0
8056,HUN,2020-05-31,-1.462940,-0.438737,-21.142857,2020-03-07,2020-03-10,2.0,5.0,9.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
8057,IDN,2020-01-01,1.337010,0.765676,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
8058,IDN,2020-01-02,-0.219187,0.584255,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
8059,IDN,2020-01-03,0.104133,0.416078,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
8060,IDN,2020-01-04,0.590556,0.260773,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
8061,IDN,2020-01-05,0.296632,0.116530,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8204,IDN,2020-05-27,1.299787,1.731276,-56.771429,2020-03-11,2020-03-18,55.0,180.0,686.0
8205,IDN,2020-05-28,1.087888,1.324740,-54.857143,2020-03-11,2020-03-18,23.0,183.0,687.0
8206,IDN,2020-05-29,0.984960,0.919957,-57.514286,2020-03-11,2020-03-18,24.0,252.0,678.0
8207,IDN,2020-05-30,1.529141,0.514161,-56.171429,2020-03-11,2020-03-18,53.0,523.0,557.0
8208,IDN,2020-05-31,1.463774,0.098554,-59.428571,2020-03-11,2020-03-18,40.0,293.0,700.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
8209,IMN,2020-01-01,-0.112485,-0.537062,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
8210,IMN,2020-01-02,-0.948049,-0.517618,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
8211,IMN,2020-01-03,-0.633371,-0.499042,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
8212,IMN,2020-01-04,-0.769130,-0.481644,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
8213,IMN,2020-01-05,0.452600,-0.459654,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8356,IMN,2020-05-27,-0.272939,-0.408238,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
8357,IMN,2020-05-28,-0.717487,-0.413259,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
8358,IMN,2020-05-29,-0.655499,-0.410707,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
8359,IMN,2020-05-30,0.793699,-0.401999,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
8360,IMN,2020-05-31,0.639487,-0.385305,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
8361,IND,2020-01-01,6.233839,2.928655,NaN,2020-03-10,2020-03-26,NaN,NaN,NaN
8362,IND,2020-01-02,1.088444,2.319605,NaN,2020-03-10,2020-03-26,NaN,NaN,NaN
8363,IND,2020-01-03,1.002682,1.732958,NaN,2020-03-10,2020-03-26,NaN,NaN,NaN
8364,IND,2020-01-04,1.384774,1.166007,NaN,2020-03-10,2020-03-26,NaN,NaN,NaN
8365,IND,2020-01-05,-0.335215,0.626545,NaN,2020-03-10,2020-03-26,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8508,IND,2020-05-27,-0.465281,-1.247750,-33.361111,2020-03-10,2020-03-26,190.0,3472.0,7293.0
8509,IND,2020-05-28,-0.173118,-1.198670,-32.638889,2020-03-10,2020-03-26,177.0,3171.0,7300.0
8510,IND,2020-05-29,-1.341653,-1.145287,-30.694444,2020-03-10,2020-03-26,269.0,11707.0,8105.0
8511,IND,2020-05-30,-1.043804,-1.089310,-30.583333,2020-03-10,2020-03-26,205.0,4309.0,8336.0
8512,IND,2020-05-31,-2.528295,-1.037198,-35.916667,2020-03-10,2020-03-26,223.0,4916.0,8782.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
8513,IRL,2020-01-01,1.696105,-0.980885,NaN,2020-02-25,2020-03-12,NaN,NaN,NaN
8514,IRL,2020-01-02,-2.658926,-1.059949,NaN,2020-02-25,2020-03-12,NaN,NaN,NaN
8515,IRL,2020-01-03,-0.932105,-1.129768,NaN,2020-02-25,2020-03-12,NaN,NaN,NaN
8516,IRL,2020-01-04,-0.937937,-1.194222,NaN,2020-02-25,2020-03-12,NaN,NaN,NaN
8517,IRL,2020-01-05,-1.544426,-1.246476,NaN,2020-02-25,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8660,IRL,2020-05-27,0.956927,0.637986,-18.222222,2020-02-25,2020-03-12,16.0,1029.0,68.0
8661,IRL,2020-05-28,0.483363,0.667046,-13.600000,2020-02-25,2020-03-12,8.0,0.0,38.0
8662,IRL,2020-05-29,0.996055,0.695506,-21.857143,2020-02-25,2020-03-12,6.0,0.0,35.0
8663,IRL,2020-05-30,1.423475,0.725104,-9.600000,2020-02-25,2020-03-12,6.0,0.0,53.0
8664,IRL,2020-05-31,0.523033,0.754242,-14.500000,2020-02-25,2020-03-12,1.0,0.0,61.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
8665,IRN,2020-01-01,-0.035964,-1.061133,NaN,2020-02-18,2020-02-22,NaN,NaN,NaN
8666,IRN,2020-01-02,-0.303018,-1.292810,NaN,2020-02-18,2020-02-22,NaN,NaN,NaN
8667,IRN,2020-01-03,-3.380722,-1.515172,NaN,2020-02-18,2020-02-22,NaN,NaN,NaN
8668,IRN,2020-01-04,-1.994813,-1.734497,NaN,2020-02-18,2020-02-22,NaN,NaN,NaN
8669,IRN,2020-01-05,-2.548175,-1.947122,NaN,2020-02-18,2020-02-22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8812,IRN,2020-05-27,-0.046586,-0.190917,NaN,2020-02-18,2020-02-22,56.0,1739.0,2080.0
8813,IRN,2020-05-28,-0.070900,-0.221334,NaN,2020-02-18,2020-02-22,63.0,1812.0,2258.0
8814,IRN,2020-05-29,0.229427,-0.243192,NaN,2020-02-18,2020-02-22,50.0,1943.0,2819.0
8815,IRN,2020-05-30,-0.467385,-0.261450,NaN,2020-02-18,2020-02-22,57.0,1896.0,2282.0
8816,IRN,2020-05-31,-0.410988,-0.284480,NaN,2020-02-18,2020-02-22,63.0,2021.0,2516.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
8817,IRQ,2020-01-01,0.783454,-0.259421,NaN,2020-02-19,2020-02-28,NaN,NaN,NaN
8818,IRQ,2020-01-02,0.509843,-0.653084,NaN,2020-02-19,2020-02-28,NaN,NaN,NaN
8819,IRQ,2020-01-03,-2.246984,-1.022108,NaN,2020-02-19,2020-02-28,NaN,NaN,NaN
8820,IRQ,2020-01-04,-1.644841,-1.372220,NaN,2020-02-19,2020-02-28,NaN,NaN,NaN
8821,IRQ,2020-01-05,-1.670757,-1.706997,NaN,2020-02-19,2020-02-28,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8964,IRQ,2020-05-27,0.440032,0.567281,-32.0,2020-02-19,2020-02-28,6.0,52.0,287.0
8965,IRQ,2020-05-28,0.332746,0.192714,-34.0,2020-02-19,2020-02-28,4.0,67.0,322.0
8966,IRQ,2020-05-29,-0.186353,-0.188230,-34.0,2020-02-19,2020-02-28,6.0,73.0,416.0
8967,IRQ,2020-05-30,-0.511934,-0.575963,-29.0,2020-02-19,2020-02-28,10.0,66.0,306.0
8968,IRQ,2020-05-31,-0.727036,-0.972813,-29.0,2020-02-19,2020-02-28,10.0,46.0,260.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
8969,ISL,2020-01-01,2.582877,1.708466,NaN,2020-02-26,2020-04-04,NaN,NaN,NaN
8970,ISL,2020-01-02,1.307672,1.428670,NaN,2020-02-26,2020-04-04,NaN,NaN,NaN
8971,ISL,2020-01-03,0.584209,1.152870,NaN,2020-02-26,2020-04-04,NaN,NaN,NaN
8972,ISL,2020-01-04,0.852388,0.870385,NaN,2020-02-26,2020-04-04,NaN,NaN,NaN
8973,ISL,2020-01-05,0.996573,0.578063,NaN,2020-02-26,2020-04-04,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9116,ISL,2020-05-27,0.165473,-0.325813,NaN,2020-02-26,2020-04-04,0.0,0.0,1.0
9117,ISL,2020-05-28,0.576469,-0.352666,NaN,2020-02-26,2020-04-04,0.0,0.0,0.0
9118,ISL,2020-05-29,0.191013,-0.366232,NaN,2020-02-26,2020-04-04,0.0,2.0,0.0
9119,ISL,2020-05-30,-0.801673,-0.378696,NaN,2020-02-26,2020-04-04,0.0,0.0,1.0
9120,ISL,2020-05-31,-0.498719,-0.396913,NaN,2020-02-26,2020-04-04,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
9121,ISR,2020-01-01,-0.174802,-0.756529,NaN,2020-03-03,2020-03-17,NaN,NaN,NaN
9122,ISR,2020-01-02,-0.561270,-0.980416,NaN,2020-03-03,2020-03-17,NaN,NaN,NaN
9123,ISR,2020-01-03,-2.103116,-1.198391,NaN,2020-03-03,2020-03-17,NaN,NaN,NaN
9124,ISR,2020-01-04,-1.438338,-1.417203,NaN,2020-03-03,2020-03-17,NaN,NaN,NaN
9125,ISR,2020-01-05,-1.990503,-1.633973,NaN,2020-03-03,2020-03-17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9268,ISR,2020-05-27,0.674191,-0.258263,-0.10,2020-03-03,2020-03-17,0.0,113.0,36.0
9269,ISR,2020-05-28,0.332051,-0.323426,-18.15,2020-03-03,2020-03-17,3.0,109.0,79.0
9270,ISR,2020-05-29,-0.755703,-0.390461,-25.95,2020-03-03,2020-03-17,0.0,97.0,115.0
9271,ISR,2020-05-30,-1.131929,-0.463049,0.25,2020-03-03,2020-03-17,0.0,35.0,25.0
9272,ISR,2020-05-31,-1.230408,-0.544801,-5.70,2020-03-03,2020-03-17,1.0,1.0,59.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
9273,ITA,2020-01-01,5.107262,3.104104,NaN,2020-02-20,2020-03-10,NaN,NaN,NaN
9274,ITA,2020-01-02,1.938762,2.603731,NaN,2020-02-20,2020-03-10,NaN,NaN,NaN
9275,ITA,2020-01-03,0.955029,2.124375,NaN,2020-02-20,2020-03-10,NaN,NaN,NaN
9276,ITA,2020-01-04,1.663226,1.658594,NaN,2020-02-20,2020-03-10,NaN,NaN,NaN
9277,ITA,2020-01-05,0.833952,1.207609,NaN,2020-02-20,2020-03-10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9420,ITA,2020-05-27,0.938617,1.002784,-39.913386,2020-02-20,2020-03-10,117.0,2443.0,584.0
9421,ITA,2020-05-28,0.711997,1.001524,-40.220472,2020-02-20,2020-03-10,70.0,3503.0,593.0
9422,ITA,2020-05-29,1.153254,0.998353,-42.472441,2020-02-20,2020-03-10,87.0,2240.0,516.0
9423,ITA,2020-05-30,1.388929,0.994445,-32.500000,2020-02-20,2020-03-10,111.0,2789.0,416.0
9424,ITA,2020-05-31,0.811682,0.989281,-32.741935,2020-02-20,2020-03-10,75.0,1874.0,333.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
9425,JAM,2020-01-01,3.260326,1.603166,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
9426,JAM,2020-01-02,0.100051,1.294174,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
9427,JAM,2020-01-03,-0.206259,0.996120,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
9428,JAM,2020-01-04,0.448114,0.701973,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
9429,JAM,2020-01-05,0.193194,0.407157,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9572,JAM,2020-05-27,-1.447033,-0.410287,-42.833333,2020-03-09,2020-03-13,0.0,12.0,5.0
9573,JAM,2020-05-28,-1.535999,-0.719246,-42.833333,2020-03-09,2020-03-13,0.0,5.0,0.0
9574,JAM,2020-05-29,-1.750109,-1.029794,-42.166667,2020-03-09,2020-03-13,0.0,5.0,6.0
9575,JAM,2020-05-30,-1.020206,-1.342492,-38.333333,2020-03-09,2020-03-13,0.0,1.0,6.0
9576,JAM,2020-05-31,-0.142178,-1.652655,-56.000000,2020-03-09,2020-03-13,0.0,21.0,5.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
9577,JOR,2020-01-01,1.761853,1.242212,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
9578,JOR,2020-01-02,1.429213,1.023528,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
9579,JOR,2020-01-03,-1.067112,0.813890,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
9580,JOR,2020-01-04,-0.540516,0.606659,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
9581,JOR,2020-01-05,0.679634,0.397868,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9724,JOR,2020-05-27,-0.243169,1.393397,-70.000000,2020-03-09,2020-03-13,0.0,0.0,2.0
9725,JOR,2020-05-28,1.104909,0.512773,-68.600000,2020-03-09,2020-03-13,0.0,0.0,8.0
9726,JOR,2020-05-29,0.025577,-0.380233,-90.333333,2020-03-09,2020-03-13,0.0,10.0,2.0
9727,JOR,2020-05-30,0.881561,-1.289602,-68.800000,2020-03-09,2020-03-13,0.0,0.0,4.0
9728,JOR,2020-05-31,-1.869984,-2.225484,-65.400000,2020-03-09,2020-03-13,0.0,15.0,5.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
9729,JPN,2020-01-01,2.473811,1.592042,NaN,2020-02-23,2020-03-30,NaN,NaN,NaN
9730,JPN,2020-01-02,0.894303,1.272203,NaN,2020-02-23,2020-03-30,NaN,NaN,NaN
9731,JPN,2020-01-03,0.632607,0.967931,NaN,2020-02-23,2020-03-30,NaN,NaN,NaN
9732,JPN,2020-01-04,0.775536,0.677104,NaN,2020-02-23,2020-03-30,NaN,NaN,NaN
9733,JPN,2020-01-05,0.534684,0.401303,NaN,2020-02-23,2020-03-30,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9876,JPN,2020-05-27,1.051738,0.876251,-30.458333,2020-02-23,2020-03-30,7.0,163.0,26.0
9877,JPN,2020-05-28,1.007045,0.902954,-29.666667,2020-02-23,2020-03-30,11.0,123.0,70.0
9878,JPN,2020-05-29,1.415359,0.924492,-31.770833,2020-02-23,2020-03-30,6.0,117.0,75.0
9879,JPN,2020-05-30,1.602967,0.939079,-35.250000,2020-02-23,2020-03-30,7.0,54.0,43.0
9880,JPN,2020-05-31,1.067033,0.945370,-39.812500,2020-02-23,2020-03-30,4.0,75.0,35.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
9881,KAZ,2020-01-01,0.693838,-0.364800,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
9882,KAZ,2020-01-02,-0.555216,-0.437446,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
9883,KAZ,2020-01-03,-1.205939,-0.487072,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
9884,KAZ,2020-01-04,-1.627620,-0.524582,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
9885,KAZ,2020-01-05,-0.790977,-0.563015,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10028,KAZ,2020-05-27,0.734405,0.405062,-1.0,2020-03-11,2020-03-17,0.0,310.0,670.0
10029,KAZ,2020-05-28,-0.468181,0.441223,1.0,2020-03-11,2020-03-17,0.0,264.0,544.0
10030,KAZ,2020-05-29,0.752773,0.476396,-1.0,2020-03-11,2020-03-17,0.0,314.0,712.0
10031,KAZ,2020-05-30,-0.289086,0.514956,3.0,2020-03-11,2020-03-17,2.0,326.0,900.0
10032,KAZ,2020-05-31,1.228976,0.559866,3.0,2020-03-11,2020-03-17,4.0,368.0,952.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
10033,KEN,2020-01-01,2.220346,1.770216,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
10034,KEN,2020-01-02,1.080131,1.352260,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
10035,KEN,2020-01-03,0.332885,0.938269,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
10036,KEN,2020-01-04,0.773853,0.524605,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
10037,KEN,2020-01-05,-0.631080,0.121335,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10180,KEN,2020-05-27,0.682361,1.095304,-27.250000,2020-03-10,2020-03-25,3.0,3.0,123.0
10181,KEN,2020-05-28,0.345488,1.048228,-25.068966,2020-03-10,2020-03-25,3.0,13.0,147.0
10182,KEN,2020-05-29,1.915584,1.005512,-26.607143,2020-03-10,2020-03-25,4.0,17.0,127.0
10183,KEN,2020-05-30,0.658710,0.972802,-26.392857,2020-03-10,2020-03-25,1.0,26.0,143.0
10184,KEN,2020-05-31,0.590656,0.943870,-32.814815,2020-03-10,2020-03-25,1.0,14.0,74.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
10185,KGZ,2020-01-01,0.059428,0.843392,NaN,2020-03-10,2020-03-19,NaN,NaN,NaN
10186,KGZ,2020-01-02,1.381108,0.610867,NaN,2020-03-10,2020-03-19,NaN,NaN,NaN
10187,KGZ,2020-01-03,0.004973,0.384963,NaN,2020-03-10,2020-03-19,NaN,NaN,NaN
10188,KGZ,2020-01-04,-0.061264,0.164285,NaN,2020-03-10,2020-03-19,NaN,NaN,NaN
10189,KGZ,2020-01-05,-1.053096,-0.058993,NaN,2020-03-10,2020-03-19,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10332,KGZ,2020-05-27,-1.159682,-0.693093,-27.666667,2020-03-10,2020-03-19,0.0,28.0,52.0
10333,KGZ,2020-05-28,0.453694,-0.979257,-25.333333,2020-03-10,2020-03-19,0.0,23.0,74.0
10334,KGZ,2020-05-29,-1.054831,-1.256619,-25.666667,2020-03-10,2020-03-19,0.0,22.0,68.0
10335,KGZ,2020-05-30,-1.925074,-1.530980,-24.333333,2020-03-10,2020-03-19,0.0,25.0,60.0
10336,KGZ,2020-05-31,-1.288052,-1.808079,-26.833333,2020-03-10,2020-03-19,0.0,57.0,26.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
10337,KHM,2020-01-01,1.393240,1.020843,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
10338,KHM,2020-01-02,1.770325,0.849424,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
10339,KHM,2020-01-03,0.215050,0.689771,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
10340,KHM,2020-01-04,-1.533493,0.536088,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
10341,KHM,2020-01-05,-0.004027,0.379198,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10484,KHM,2020-05-27,-1.447445,-0.206535,-34.875000,2020-03-11,2020-03-18,0.0,0.0,0.0
10485,KHM,2020-05-28,0.896928,-0.302277,-34.750000,2020-03-11,2020-03-18,0.0,0.0,0.0
10486,KHM,2020-05-29,-1.154404,-0.393812,-37.444444,2020-03-11,2020-03-18,0.0,0.0,0.0
10487,KHM,2020-05-30,0.450397,-0.473013,-36.777778,2020-03-11,2020-03-18,0.0,1.0,1.0
10488,KHM,2020-05-31,1.098981,-0.538084,-39.777778,2020-03-11,2020-03-18,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
10489,KOR,2020-01-01,3.080463,1.391851,NaN,2020-02-18,2020-03-16,NaN,NaN,NaN
10490,KOR,2020-01-02,0.829241,1.198020,NaN,2020-02-18,2020-03-16,NaN,NaN,NaN
10491,KOR,2020-01-03,0.447026,1.006314,NaN,2020-02-18,2020-03-16,NaN,NaN,NaN
10492,KOR,2020-01-04,1.231474,0.815983,NaN,2020-02-18,2020-03-16,NaN,NaN,NaN
10493,KOR,2020-01-05,1.311637,0.634638,NaN,2020-02-18,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10636,KOR,2020-05-27,0.652305,0.518487,-2.5,2020-02-18,2020-03-16,NaN,NaN,NaN
10637,KOR,2020-05-28,-0.506577,0.430106,-5.5,2020-02-18,2020-03-16,NaN,NaN,NaN
10638,KOR,2020-05-29,0.919390,0.338611,-3.5,2020-02-18,2020-03-16,NaN,NaN,NaN
10639,KOR,2020-05-30,1.292613,0.248199,-5.0,2020-02-18,2020-03-16,NaN,NaN,NaN
10640,KOR,2020-05-31,1.165433,0.159065,-5.5,2020-02-18,2020-03-16,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
10641,KWT,2020-01-01,0.938081,0.104155,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
10642,KWT,2020-01-02,0.069222,0.067097,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
10643,KWT,2020-01-03,-0.322433,0.023012,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
10644,KWT,2020-01-04,-0.166187,-0.030548,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
10645,KWT,2020-01-05,-0.124091,-0.089208,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10788,KWT,2020-05-27,0.483156,1.095723,-75.500,2020-02-24,2020-02-27,3.0,640.0,692.0
10789,KWT,2020-05-28,0.021637,0.285204,-76.875,2020-02-24,2020-02-27,10.0,752.0,845.0
10790,KWT,2020-05-29,0.161287,-0.521804,-78.500,2020-02-24,2020-02-27,9.0,575.0,1072.0
10791,KWT,2020-05-30,0.045737,-1.332428,-74.875,2020-02-24,2020-02-27,11.0,883.0,1008.0
10792,KWT,2020-05-31,-0.065771,-2.159204,-50.625,2020-02-24,2020-02-27,7.0,1230.0,851.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
10793,LBN,2020-01-01,2.699380,1.691804,NaN,2020-03-05,2020-03-12,NaN,NaN,NaN
10794,LBN,2020-01-02,1.587183,1.126798,NaN,2020-03-05,2020-03-12,NaN,NaN,NaN
10795,LBN,2020-01-03,-1.401873,0.571000,NaN,2020-03-05,2020-03-12,NaN,NaN,NaN
10796,LBN,2020-01-04,-0.800462,0.014013,NaN,2020-03-05,2020-03-12,NaN,NaN,NaN
10797,LBN,2020-01-05,0.044496,-0.538356,NaN,2020-03-05,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
10940,LBN,2020-05-27,0.876722,1.174633,-57.0,2020-03-05,2020-03-12,0.0,3.0,21.0
10941,LBN,2020-05-28,1.170739,0.716024,-61.0,2020-03-05,2020-03-12,0.0,7.0,7.0
10942,LBN,2020-05-29,0.199594,0.254194,-60.5,2020-03-05,2020-03-12,0.0,6.0,4.0
10943,LBN,2020-05-30,0.614584,-0.221921,-58.0,2020-03-05,2020-03-12,0.0,3.0,19.0
10944,LBN,2020-05-31,-0.056473,-0.722248,-68.0,2020-03-05,2020-03-12,1.0,4.0,29.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
10945,LBY,2020-01-01,2.274862,-1.214431,NaN,2020-03-10,2020-03-23,NaN,NaN,NaN
10946,LBY,2020-01-02,-2.791609,-1.327890,NaN,2020-03-10,2020-03-23,NaN,NaN,NaN
10947,LBY,2020-01-03,-1.134002,-1.426431,NaN,2020-03-10,2020-03-23,NaN,NaN,NaN
10948,LBY,2020-01-04,-2.531266,-1.514655,NaN,2020-03-10,2020-03-23,NaN,NaN,NaN
10949,LBY,2020-01-05,-4.465388,-1.591934,NaN,2020-03-10,2020-03-23,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11092,LBY,2020-05-27,-0.655649,0.803059,-44.5,2020-03-10,2020-03-23,1.0,0.0,22.0
11093,LBY,2020-05-28,0.059423,0.064748,-46.5,2020-03-10,2020-03-23,1.0,1.0,6.0
11094,LBY,2020-05-29,0.256186,-0.680665,-42.5,2020-03-10,2020-03-23,0.0,0.0,13.0
11095,LBY,2020-05-30,-0.258359,-1.429471,-25.0,2020-03-10,2020-03-23,0.0,9.0,12.0
11096,LBY,2020-05-31,-1.361459,-2.194548,-37.0,2020-03-10,2020-03-23,0.0,2.0,26.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
11097,LCA,2020-01-01,0.616774,0.274147,NaN,2020-03-09,2020-03-31,NaN,NaN,NaN
11098,LCA,2020-01-02,-0.087095,0.351788,NaN,2020-03-09,2020-03-31,NaN,NaN,NaN
11099,LCA,2020-01-03,0.917097,0.434597,NaN,2020-03-09,2020-03-31,NaN,NaN,NaN
11100,LCA,2020-01-04,0.813150,0.519248,NaN,2020-03-09,2020-03-31,NaN,NaN,NaN
11101,LCA,2020-01-05,0.240870,0.601267,NaN,2020-03-09,2020-03-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11244,LCA,2020-05-27,-0.095812,-0.045123,NaN,2020-03-09,2020-03-31,0.0,0.0,0.0
11245,LCA,2020-05-28,-2.295797,0.051238,NaN,2020-03-09,2020-03-31,0.0,0.0,0.0
11246,LCA,2020-05-29,-0.569055,0.144082,NaN,2020-03-09,2020-03-31,0.0,0.0,0.0
11247,LCA,2020-05-30,1.493669,0.236019,NaN,2020-03-09,2020-03-31,0.0,0.0,0.0
11248,LCA,2020-05-31,0.669156,0.328513,NaN,2020-03-09,2020-03-31,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
11249,LKA,2020-01-01,3.154867,1.616078,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
11250,LKA,2020-01-02,0.326541,1.206649,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
11251,LKA,2020-01-03,-0.493534,0.813416,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
11252,LKA,2020-01-04,0.240434,0.428479,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
11253,LKA,2020-01-05,-0.049552,0.050452,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11396,LKA,2020-05-27,0.608869,0.253286,-34.0,2020-03-09,2020-03-14,0.0,20.0,150.0
11397,LKA,2020-05-28,-0.040563,0.248646,-34.0,2020-03-09,2020-03-14,0.0,13.0,61.0
11398,LKA,2020-05-29,-0.544415,0.240966,-34.0,2020-03-09,2020-03-14,0.0,9.0,28.0
11399,LKA,2020-05-30,0.209487,0.232496,-32.0,2020-03-09,2020-03-14,0.0,27.0,62.0
11400,LKA,2020-05-31,0.606837,0.226482,-74.0,2020-03-09,2020-03-14,0.0,20.0,13.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
11401,LSO,2020-01-01,0.150349,-0.269844,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
11402,LSO,2020-01-02,-0.340184,-0.375169,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
11403,LSO,2020-01-03,-0.108596,-0.476063,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
11404,LSO,2020-01-04,-0.400066,-0.571307,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
11405,LSO,2020-01-05,-0.471017,-0.655208,NaN,2020-03-09,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11548,LSO,2020-05-27,0.477048,0.902932,NaN,2020-03-09,2020-03-14,0.0,0.0,0.0
11549,LSO,2020-05-28,0.964590,1.280467,NaN,2020-03-09,2020-03-14,0.0,1.0,0.0
11550,LSO,2020-05-29,2.162929,1.662073,NaN,2020-03-09,2020-03-14,0.0,0.0,0.0
11551,LSO,2020-05-30,1.186891,2.044601,NaN,2020-03-09,2020-03-14,0.0,0.0,0.0
11552,LSO,2020-05-31,2.269659,2.430676,NaN,2020-03-09,2020-03-14,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
11553,LUX,2020-01-01,1.857559,1.277573,NaN,2020-03-08,2020-03-20,NaN,NaN,NaN
11554,LUX,2020-01-02,1.348424,0.936513,NaN,2020-03-08,2020-03-20,NaN,NaN,NaN
11555,LUX,2020-01-03,-0.509981,0.614970,NaN,2020-03-08,2020-03-20,NaN,NaN,NaN
11556,LUX,2020-01-04,-0.954945,0.313013,NaN,2020-03-08,2020-03-20,NaN,NaN,NaN
11557,LUX,2020-01-05,-1.267272,0.026667,NaN,2020-03-08,2020-03-20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11700,LUX,2020-05-27,0.451202,1.127383,-35.0,2020-03-08,2020-03-20,0.0,8.0,6.0
11701,LUX,2020-05-28,0.890221,1.180340,-34.0,2020-03-08,2020-03-20,0.0,12.0,7.0
11702,LUX,2020-05-29,0.722737,1.221633,-33.0,2020-03-08,2020-03-20,0.0,12.0,4.0
11703,LUX,2020-05-30,1.959878,1.261384,-25.0,2020-03-08,2020-03-20,0.0,0.0,4.0
11704,LUX,2020-05-31,0.844193,1.296354,-24.0,2020-03-08,2020-03-20,0.0,18.0,2.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
11705,LVA,2020-01-01,0.922106,0.127525,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
11706,LVA,2020-01-02,-0.124648,0.156104,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
11707,LVA,2020-01-03,-0.498374,0.180728,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
11708,LVA,2020-01-04,0.643257,0.201391,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
11709,LVA,2020-01-05,0.428433,0.219927,NaN,2020-03-07,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11852,LVA,2020-05-27,-0.579543,-0.149440,-23.0,2020-03-07,2020-03-15,1.0,0.0,4.0
11853,LVA,2020-05-28,-0.022498,-0.288140,-26.0,2020-03-07,2020-03-15,1.0,0.0,4.0
11854,LVA,2020-05-29,0.672156,-0.426562,-25.0,2020-03-07,2020-03-15,0.0,4.0,3.0
11855,LVA,2020-05-30,-0.576884,-0.563165,-15.8,2020-03-07,2020-03-15,0.0,0.0,1.0
11856,LVA,2020-05-31,-0.747177,-0.700675,-7.6,2020-03-07,2020-03-15,0.0,0.0,1.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
11857,MAC,2020-01-01,0.929097,0.245417,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
11858,MAC,2020-01-02,0.386763,0.208400,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
11859,MAC,2020-01-03,-0.269576,0.180023,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
11860,MAC,2020-01-04,0.365545,0.158989,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
11861,MAC,2020-01-05,0.077553,0.143908,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12004,MAC,2020-05-27,-0.389596,0.354117,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
12005,MAC,2020-05-28,0.325112,0.200774,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
12006,MAC,2020-05-29,-0.182293,0.041570,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
12007,MAC,2020-05-30,0.413544,-0.119380,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN
12008,MAC,2020-05-31,-0.022666,-0.280430,NaN,2020-01-20,2020-02-06,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
12009,MAR,2020-01-01,0.549981,-0.570188,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
12010,MAR,2020-01-02,-1.084355,-0.694815,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
12011,MAR,2020-01-03,-1.827760,-0.816612,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
12012,MAR,2020-01-04,-0.157032,-0.942461,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
12013,MAR,2020-01-05,-1.029183,-1.063221,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12156,MAR,2020-05-27,0.764545,0.592191,-64.50,2020-03-09,2020-03-15,0.0,97.0,24.0
12157,MAR,2020-05-28,0.105308,0.319634,-63.75,2020-03-09,2020-03-15,0.0,217.0,42.0
12158,MAR,2020-05-29,-0.223238,0.041972,-64.75,2020-03-09,2020-03-15,0.0,76.0,71.0
12159,MAR,2020-05-30,-0.331071,-0.241030,-64.75,2020-03-09,2020-03-15,2.0,130.0,66.0
12160,MAR,2020-05-31,-0.167376,-0.533047,-67.25,2020-03-09,2020-03-15,1.0,58.0,27.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
12161,MEX,2020-01-01,8.256971,3.834646,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
12162,MEX,2020-01-02,1.893176,3.084601,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
12163,MEX,2020-01-03,0.419122,2.361753,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
12164,MEX,2020-01-04,0.274840,1.651973,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
12165,MEX,2020-01-05,0.022943,0.955941,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12308,MEX,2020-05-27,0.277436,0.296675,-52.909091,2020-03-10,2020-03-17,463.0,2126.0,3463.0
12309,MEX,2020-05-28,-0.317409,0.278007,-52.666667,2020-03-10,2020-03-17,447.0,2207.0,3377.0
12310,MEX,2020-05-29,-0.042500,0.257294,-53.181818,2020-03-10,2020-03-17,371.0,2962.0,3227.0
12311,MEX,2020-05-30,0.779582,0.235189,-50.545455,2020-03-10,2020-03-17,364.0,2244.0,2885.0
12312,MEX,2020-05-31,0.165084,0.214647,-54.484848,2020-03-10,2020-03-17,151.0,2525.0,3152.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
12313,MKD,2020-01-01,-0.196475,1.354627,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
12314,MKD,2020-01-02,0.425483,1.076607,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
12315,MKD,2020-01-03,1.894858,0.802039,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
12316,MKD,2020-01-04,-0.130832,0.533311,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
12317,MKD,2020-01-05,0.536945,0.263521,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12460,MKD,2020-05-27,-1.386944,-0.202706,-28.0,2020-03-08,2020-03-12,NaN,NaN,NaN
12461,MKD,2020-05-28,0.433514,-0.562767,-32.0,2020-03-08,2020-03-12,NaN,NaN,NaN
12462,MKD,2020-05-29,-1.547951,-0.921653,-36.0,2020-03-08,2020-03-12,NaN,NaN,NaN
12463,MKD,2020-05-30,-0.696054,-1.284068,-31.0,2020-03-08,2020-03-12,NaN,NaN,NaN
12464,MKD,2020-05-31,-0.802179,-1.650100,-39.0,2020-03-08,2020-03-12,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
12465,MLI,2020-01-01,0.199706,0.250472,NaN,2020-03-13,2020-03-21,NaN,NaN,NaN
12466,MLI,2020-01-02,-0.593819,0.096291,NaN,2020-03-13,2020-03-21,NaN,NaN,NaN
12467,MLI,2020-01-03,0.122063,-0.060186,NaN,2020-03-13,2020-03-21,NaN,NaN,NaN
12468,MLI,2020-01-04,-0.417511,-0.218394,NaN,2020-03-13,2020-03-21,NaN,NaN,NaN
12469,MLI,2020-01-05,-0.136500,-0.377587,NaN,2020-03-13,2020-03-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12612,MLI,2020-05-27,-0.471088,0.019532,-34.0,2020-03-13,2020-03-21,0.0,15.0,39.0
12613,MLI,2020-05-28,-0.935008,-0.283531,-28.0,2020-03-13,2020-03-21,2.0,20.0,78.0
12614,MLI,2020-05-29,-0.418567,-0.592036,-31.5,2020-03-13,2020-03-21,1.0,17.0,32.0
12615,MLI,2020-05-30,-0.553743,-0.907742,-37.0,2020-03-13,2020-03-21,3.0,27.0,24.0
12616,MLI,2020-05-31,-0.407844,-1.228740,-41.0,2020-03-13,2020-03-21,1.0,20.0,15.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
12617,MMR,2020-01-01,0.832267,0.836909,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
12618,MMR,2020-01-02,-0.368275,0.581669,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
12619,MMR,2020-01-03,0.519329,0.343886,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
12620,MMR,2020-01-04,0.878394,0.115746,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
12621,MMR,2020-01-05,-0.886903,-0.110932,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12764,MMR,2020-05-27,1.833899,1.376629,-42.000000,2020-03-11,2020-03-15,NaN,NaN,NaN
12765,MMR,2020-05-28,0.607412,1.312798,-39.666667,2020-03-11,2020-03-15,NaN,NaN,NaN
12766,MMR,2020-05-29,0.980858,1.231733,-39.333333,2020-03-11,2020-03-15,NaN,NaN,NaN
12767,MMR,2020-05-30,0.906419,1.144254,-35.333333,2020-03-11,2020-03-15,NaN,NaN,NaN
12768,MMR,2020-05-31,0.402696,1.056991,-37.333333,2020-03-11,2020-03-15,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
12769,MNE,2020-01-01,2.476472,2.919030,NaN,2020-02-23,2020-03-08,NaN,NaN,NaN
12770,MNE,2020-01-02,2.456529,2.337355,NaN,2020-02-23,2020-03-08,NaN,NaN,NaN
12771,MNE,2020-01-03,0.963265,1.772168,NaN,2020-02-23,2020-03-08,NaN,NaN,NaN
12772,MNE,2020-01-04,0.256068,1.221019,NaN,2020-02-23,2020-03-08,NaN,NaN,NaN
12773,MNE,2020-01-05,0.732626,0.676993,NaN,2020-02-23,2020-03-08,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12916,MNE,2020-05-27,0.169454,1.342041,NaN,2020-02-23,2020-03-08,0.0,0.0,0.0
12917,MNE,2020-05-28,1.133582,1.276686,NaN,2020-02-23,2020-03-08,0.0,0.0,0.0
12918,MNE,2020-05-29,1.853398,1.208471,NaN,2020-02-23,2020-03-08,0.0,0.0,0.0
12919,MNE,2020-05-30,1.154197,1.146738,NaN,2020-02-23,2020-03-08,0.0,0.0,0.0
12920,MNE,2020-05-31,1.379117,1.092329,NaN,2020-02-23,2020-03-08,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
12921,MNG,2020-01-01,3.243234,0.984610,NaN,2020-01-21,2020-01-29,NaN,NaN,NaN
12922,MNG,2020-01-02,0.775121,0.839646,NaN,2020-01-21,2020-01-29,NaN,NaN,NaN
12923,MNG,2020-01-03,-1.685654,0.702463,NaN,2020-01-21,2020-01-29,NaN,NaN,NaN
12924,MNG,2020-01-04,0.364239,0.567450,NaN,2020-01-21,2020-01-29,NaN,NaN,NaN
12925,MNG,2020-01-05,0.976740,0.438456,NaN,2020-01-21,2020-01-29,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13068,MNG,2020-05-27,-0.171374,-0.061324,11.5,2020-01-21,2020-01-29,0.0,6.0,7.0
13069,MNG,2020-05-28,-1.159208,-0.114675,9.0,2020-01-21,2020-01-29,0.0,0.0,13.0
13070,MNG,2020-05-29,0.174467,-0.165027,12.0,2020-01-21,2020-01-29,0.0,0.0,18.0
13071,MNG,2020-05-30,2.059838,-0.213154,20.0,2020-01-21,2020-01-29,0.0,1.0,0.0
13072,MNG,2020-05-31,0.140132,-0.262714,27.0,2020-01-21,2020-01-29,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
13073,MOZ,2020-01-01,3.695521,1.891380,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
13074,MOZ,2020-01-02,1.421129,1.383292,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
13075,MOZ,2020-01-03,0.048196,0.903391,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
13076,MOZ,2020-01-04,0.257093,0.445847,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
13077,MOZ,2020-01-05,-1.283612,0.008697,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13220,MOZ,2020-05-27,0.706587,0.841881,-19.666667,2020-03-09,2020-03-13,0.0,0.0,14.0
13221,MOZ,2020-05-28,0.023525,0.844558,-16.000000,2020-03-09,2020-03-13,1.0,11.0,6.0
13222,MOZ,2020-05-29,1.686566,0.842282,-19.000000,2020-03-09,2020-03-13,0.0,2.0,1.0
13223,MOZ,2020-05-30,0.589354,0.835801,-14.000000,2020-03-09,2020-03-13,0.0,6.0,10.0
13224,MOZ,2020-05-31,0.069000,0.829274,-28.000000,2020-03-09,2020-03-13,0.0,1.0,10.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
13225,MTQ,2020-01-01,3.219128,1.472988,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
13226,MTQ,2020-01-02,0.929459,1.271512,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
13227,MTQ,2020-01-03,-0.526657,1.075050,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
13228,MTQ,2020-01-04,0.435709,0.879187,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
13229,MTQ,2020-01-05,0.199044,0.682330,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13372,MTQ,2020-05-27,-0.126228,0.139801,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
13373,MTQ,2020-05-28,-1.364526,0.140934,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
13374,MTQ,2020-05-29,0.676350,0.123517,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
13375,MTQ,2020-05-30,0.836323,0.107118,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN
13376,MTQ,2020-05-31,-0.928303,0.096356,NaN,2020-03-11,2020-03-13,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
13377,MUS,2020-01-01,2.834279,1.896545,NaN,2020-03-14,2020-03-16,NaN,NaN,NaN
13378,MUS,2020-01-02,1.355889,1.557494,NaN,2020-03-14,2020-03-16,NaN,NaN,NaN
13379,MUS,2020-01-03,0.654062,1.236104,NaN,2020-03-14,2020-03-16,NaN,NaN,NaN
13380,MUS,2020-01-04,0.844431,0.928971,NaN,2020-03-14,2020-03-16,NaN,NaN,NaN
13381,MUS,2020-01-05,0.018698,0.631808,NaN,2020-03-14,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13524,MUS,2020-05-27,-0.779389,-0.175748,-66.000000,2020-03-14,2020-03-16,0.0,0.0,0.0
13525,MUS,2020-05-28,-0.589470,-0.160892,-60.571429,2020-03-14,2020-03-16,0.0,0.0,0.0
13526,MUS,2020-05-29,0.238244,-0.139810,-57.714286,2020-03-14,2020-03-16,0.0,0.0,1.0
13527,MUS,2020-05-30,0.533650,-0.110148,-56.375000,2020-03-14,2020-03-16,0.0,0.0,0.0
13528,MUS,2020-05-31,0.194679,-0.070047,-41.333333,2020-03-14,2020-03-16,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
13529,MWI,2020-01-01,1.641672,0.382427,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
13530,MWI,2020-01-02,1.005773,0.226303,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
13531,MWI,2020-01-03,-0.157383,0.081524,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
13532,MWI,2020-01-04,-2.461776,-0.058010,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
13533,MWI,2020-01-05,0.221258,-0.200090,NaN,2020-03-11,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13676,MWI,2020-05-27,1.311003,1.354120,NaN,2020-03-11,2020-03-14,0.0,0.0,0.0
13677,MWI,2020-05-28,0.557356,1.304583,NaN,2020-03-11,2020-03-14,0.0,0.0,102.0
13678,MWI,2020-05-29,1.317426,1.253055,NaN,2020-03-11,2020-03-14,0.0,5.0,70.0
13679,MWI,2020-05-30,1.556255,1.199939,NaN,2020-03-11,2020-03-14,0.0,0.0,6.0
13680,MWI,2020-05-31,1.393308,1.144385,NaN,2020-03-11,2020-03-14,0.0,0.0,5.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
13681,MYS,2020-01-01,3.743240,1.544777,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
13682,MYS,2020-01-02,-0.786228,1.066993,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
13683,MYS,2020-01-03,-0.419889,0.603885,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
13684,MYS,2020-01-04,0.865741,0.145768,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
13685,MYS,2020-01-05,0.902498,-0.302034,NaN,2020-03-11,2020-03-18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13828,MYS,2020-05-27,0.342050,2.431257,-54.058824,2020-03-11,2020-03-18,0.0,42.0,15.0
13829,MYS,2020-05-28,0.975717,1.510303,-55.705882,2020-03-11,2020-03-18,0.0,86.0,10.0
13830,MYS,2020-05-29,0.517018,0.571090,-59.352941,2020-03-11,2020-03-18,0.0,66.0,103.0
13831,MYS,2020-05-30,1.704448,-0.381044,-59.529412,2020-03-11,2020-03-18,0.0,95.0,30.0
13832,MYS,2020-05-31,2.111419,-1.355709,-60.764706,2020-03-11,2020-03-18,0.0,23.0,57.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
13833,NAM,2020-01-01,2.337609,0.161176,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
13834,NAM,2020-01-02,0.575314,0.128843,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
13835,NAM,2020-01-03,-1.126788,0.099826,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
13836,NAM,2020-01-04,-0.432234,0.070533,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
13837,NAM,2020-01-05,-0.183927,0.042579,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13980,NAM,2020-05-27,-1.700266,0.221095,-53.0,2020-03-09,2020-03-15,0.0,0.0,1.0
13981,NAM,2020-05-28,0.448900,0.139546,-44.0,2020-03-09,2020-03-15,0.0,0.0,0.0
13982,NAM,2020-05-29,-0.172947,0.055131,-43.0,2020-03-09,2020-03-15,0.0,0.0,1.0
13983,NAM,2020-05-30,-0.053059,-0.026995,-51.0,2020-03-09,2020-03-15,0.0,0.0,0.0
13984,NAM,2020-05-31,0.993938,-0.102274,-61.5,2020-03-09,2020-03-15,0.0,0.0,1.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
13985,NGA,2020-01-01,4.585594,1.609865,NaN,2020-03-15,2020-03-22,NaN,NaN,NaN
13986,NGA,2020-01-02,0.465415,1.175121,NaN,2020-03-15,2020-03-22,NaN,NaN,NaN
13987,NGA,2020-01-03,-1.120615,0.762521,NaN,2020-03-15,2020-03-22,NaN,NaN,NaN
13988,NGA,2020-01-04,-0.974441,0.363904,NaN,2020-03-15,2020-03-22,NaN,NaN,NaN
13989,NGA,2020-01-05,-0.459199,-0.020713,NaN,2020-03-15,2020-03-22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14132,NGA,2020-05-27,2.669089,1.120270,-33.772727,2020-03-15,2020-03-22,5.0,116.0,389.0
14133,NGA,2020-05-28,-0.351466,0.522195,-32.772727,2020-03-15,2020-03-22,5.0,91.0,182.0
14134,NGA,2020-05-29,0.263692,-0.094030,-31.454545,2020-03-15,2020-03-22,2.0,105.0,387.0
14135,NGA,2020-05-30,0.413371,-0.721186,-37.272727,2020-03-15,2020-03-22,12.0,159.0,553.0
14136,NGA,2020-05-31,-2.996877,-1.359801,-39.391304,2020-03-15,2020-03-22,14.0,151.0,307.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
14137,NIC,2020-01-01,5.480046,2.364190,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
14138,NIC,2020-01-02,0.957932,1.900775,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
14139,NIC,2020-01-03,0.127184,1.452394,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
14140,NIC,2020-01-04,-0.052095,1.004136,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
14141,NIC,2020-01-05,0.782292,0.558070,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14284,NIC,2020-05-27,-1.088252,-0.374277,-44.555556,2020-03-09,2020-03-21,0.0,0.0,0.0
14285,NIC,2020-05-28,-1.132819,-0.348968,-42.125000,2020-03-09,2020-03-21,0.0,0.0,0.0
14286,NIC,2020-05-29,-0.072737,-0.333465,-40.625000,2020-03-09,2020-03-21,0.0,0.0,0.0
14287,NIC,2020-05-30,1.443018,-0.318276,-40.181818,2020-03-09,2020-03-21,0.0,0.0,0.0
14288,NIC,2020-05-31,0.002439,-0.295980,-55.000000,2020-03-09,2020-03-21,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
14289,NLD,2020-01-01,2.750527,1.395665,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
14290,NLD,2020-01-02,-0.172744,1.218863,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
14291,NLD,2020-01-03,0.426188,1.054204,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
14292,NLD,2020-01-04,0.850120,0.893720,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
14293,NLD,2020-01-05,0.737769,0.735612,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14436,NLD,2020-05-27,-0.611398,-0.350916,-43.307692,2020-03-07,2020-03-13,15.0,3.0,190.0
14437,NLD,2020-05-28,-0.526374,-0.332135,-45.615385,2020-03-07,2020-03-13,32.0,1.0,182.0
14438,NLD,2020-05-29,0.304741,-0.316528,-39.769231,2020-03-07,2020-03-13,28.0,0.0,176.0
14439,NLD,2020-05-30,0.281815,-0.296825,-22.076923,2020-03-07,2020-03-13,20.0,0.0,132.0
14440,NLD,2020-05-31,-0.410129,-0.271460,-16.769231,2020-03-07,2020-03-13,5.0,0.0,185.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
14441,NOR,2020-01-01,1.528615,0.120425,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
14442,NOR,2020-01-02,-0.074422,0.007897,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
14443,NOR,2020-01-03,-0.360682,-0.099080,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
14444,NOR,2020-01-04,-0.318630,-0.208710,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
14445,NOR,2020-01-05,-1.164738,-0.321164,NaN,2020-03-08,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14588,NOR,2020-05-27,0.729818,0.392079,-24.416667,2020-03-08,2020-03-13,0.0,0.0,18.0
14589,NOR,2020-05-28,0.340004,0.538515,-20.666667,2020-03-08,2020-03-13,1.0,0.0,10.0
14590,NOR,2020-05-29,1.510375,0.678989,-14.250000,2020-03-08,2020-03-13,0.0,0.0,11.0
14591,NOR,2020-05-30,1.897999,0.817290,1.916667,2020-03-08,2020-03-13,0.0,0.0,15.0
14592,NOR,2020-05-31,-0.158090,0.953499,-13.000000,2020-03-08,2020-03-13,0.0,0.0,3.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
14593,NPL,2020-01-01,4.980162,2.496906,NaN,2020-03-09,2020-03-22,NaN,NaN,NaN
14594,NPL,2020-01-02,0.431554,1.952891,NaN,2020-03-09,2020-03-22,NaN,NaN,NaN
14595,NPL,2020-01-03,0.647434,1.421445,NaN,2020-03-09,2020-03-22,NaN,NaN,NaN
14596,NPL,2020-01-04,-0.068233,0.897992,NaN,2020-03-09,2020-03-22,NaN,NaN,NaN
14597,NPL,2020-01-05,0.445148,0.395681,NaN,2020-03-09,2020-03-22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14740,NPL,2020-05-27,-1.359876,-1.216870,-60.0,2020-03-09,2020-03-22,0.0,28.0,114.0
14741,NPL,2020-05-28,-1.728333,-1.381911,-58.0,2020-03-09,2020-03-22,1.0,4.0,156.0
14742,NPL,2020-05-29,-0.777197,-1.540758,-58.0,2020-03-09,2020-03-22,1.0,19.0,170.0
14743,NPL,2020-05-30,-1.465671,-1.694827,-59.0,2020-03-09,2020-03-22,0.0,13.0,189.0
14744,NPL,2020-05-31,-1.812718,-1.848995,-57.0,2020-03-09,2020-03-22,2.0,1.0,171.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
14745,NZL,2020-01-01,0.581068,0.063652,NaN,2020-03-11,2020-03-16,NaN,NaN,NaN
14746,NZL,2020-01-02,-0.117158,-0.033486,NaN,2020-03-11,2020-03-16,NaN,NaN,NaN
14747,NZL,2020-01-03,-0.442475,-0.114950,NaN,2020-03-11,2020-03-16,NaN,NaN,NaN
14748,NZL,2020-01-04,0.342816,-0.185017,NaN,2020-03-11,2020-03-16,NaN,NaN,NaN
14749,NZL,2020-01-05,-1.390774,-0.254796,NaN,2020-03-11,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
14892,NZL,2020-05-27,-0.330898,0.036034,-39.454545,2020-03-11,2020-03-16,1.0,12.0,0.0
14893,NZL,2020-05-28,0.235611,-0.037072,-34.454545,2020-03-11,2020-03-16,0.0,7.0,0.0
14894,NZL,2020-05-29,-0.032980,-0.116992,-32.272727,2020-03-11,2020-03-16,0.0,0.0,0.0
14895,NZL,2020-05-30,0.040489,-0.206122,-26.181818,2020-03-11,2020-03-16,0.0,0.0,0.0
14896,NZL,2020-05-31,-1.113462,-0.305404,-35.090909,2020-03-11,2020-03-16,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
14897,OMN,2020-01-01,0.938060,0.554634,NaN,2020-02-29,2020-03-06,NaN,NaN,NaN
14898,OMN,2020-01-02,0.281112,0.272563,NaN,2020-02-29,2020-03-06,NaN,NaN,NaN
14899,OMN,2020-01-03,-1.335764,0.026249,NaN,2020-02-29,2020-03-06,NaN,NaN,NaN
14900,OMN,2020-01-04,0.125379,-0.198105,NaN,2020-02-29,2020-03-06,NaN,NaN,NaN
14901,OMN,2020-01-05,-0.358471,-0.416590,NaN,2020-02-29,2020-03-06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15044,OMN,2020-05-27,-0.527312,0.903214,-56.25,2020-02-29,2020-03-06,2.0,110.0,255.0
15045,OMN,2020-05-28,-1.161484,-0.188911,-56.25,2020-02-29,2020-03-06,1.0,0.0,636.0
15046,OMN,2020-05-29,-0.157046,-1.284604,-65.00,2020-02-29,2020-03-06,0.0,219.0,811.0
15047,OMN,2020-05-30,-1.226673,-2.387128,-59.25,2020-02-29,2020-03-06,2.0,0.0,603.0
15048,OMN,2020-05-31,-1.185908,-3.508169,-54.00,2020-02-29,2020-03-06,7.0,286.0,1014.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
15049,PAK,2020-01-01,3.324797,0.779431,NaN,2020-03-11,2020-03-19,NaN,NaN,NaN
15050,PAK,2020-01-02,0.208105,0.594387,NaN,2020-03-11,2020-03-19,NaN,NaN,NaN
15051,PAK,2020-01-03,-0.338773,0.429150,NaN,2020-03-11,2020-03-19,NaN,NaN,NaN
15052,PAK,2020-01-04,-0.058568,0.270546,NaN,2020-03-11,2020-03-19,NaN,NaN,NaN
15053,PAK,2020-01-05,-0.614192,0.118966,NaN,2020-03-11,2020-03-19,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15196,PAK,2020-05-27,-2.550850,-2.042620,-32.631579,2020-03-11,2020-03-19,35.0,1089.0,2076.0
15197,PAK,2020-05-28,-1.180025,-2.349734,-29.684211,2020-03-11,2020-03-19,57.0,2074.0,2801.0
15198,PAK,2020-05-29,-1.623784,-2.668934,-32.789474,2020-03-11,2020-03-19,78.0,1826.0,2429.0
15199,PAK,2020-05-30,-2.141926,-2.981034,-30.263158,2020-03-11,2020-03-19,88.0,1140.0,3039.0
15200,PAK,2020-05-31,-7.529549,-3.309154,-30.473684,2020-03-11,2020-03-19,60.0,812.0,2964.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
15201,PAN,2020-01-01,6.709823,3.345206,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15202,PAN,2020-01-02,1.028910,2.699224,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15203,PAN,2020-01-03,0.564014,2.072645,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15204,PAN,2020-01-04,0.940157,1.459249,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15205,PAN,2020-01-05,1.099331,0.868031,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15348,PAN,2020-05-27,-0.563982,0.272712,-67.0,2020-03-08,2020-03-12,2.0,1000.0,281.0
15349,PAN,2020-05-28,0.266244,0.340343,-65.5,2020-03-08,2020-03-12,5.0,0.0,403.0
15350,PAN,2020-05-29,0.995217,0.412328,-65.5,2020-03-08,2020-03-12,6.0,161.0,400.0
15351,PAN,2020-05-30,0.893665,0.496016,-67.0,2020-03-08,2020-03-12,4.0,1874.0,487.0
15352,PAN,2020-05-31,0.011569,0.588092,-87.0,2020-03-08,2020-03-12,6.0,100.0,445.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
15353,PER,2020-01-01,8.203228,4.800938,NaN,2020-03-05,2020-03-15,NaN,NaN,NaN
15354,PER,2020-01-02,2.744813,3.948665,NaN,2020-03-05,2020-03-15,NaN,NaN,NaN
15355,PER,2020-01-03,1.536858,3.131729,NaN,2020-03-05,2020-03-15,NaN,NaN,NaN
15356,PER,2020-01-04,1.089067,2.337813,NaN,2020-03-05,2020-03-15,NaN,NaN,NaN
15357,PER,2020-01-05,1.710485,1.564531,NaN,2020-03-05,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15500,PER,2020-05-27,-0.988317,-0.110399,-69.091954,2020-03-05,2020-03-15,195.0,3263.0,6154.0
15501,PER,2020-05-28,-0.669828,-0.147763,-68.844444,2020-03-05,2020-03-15,116.0,3273.0,5874.0
15502,PER,2020-05-29,-0.163191,-0.186114,-70.340909,2020-03-05,2020-03-15,131.0,3349.0,6506.0
15503,PER,2020-05-30,0.548035,-0.219646,-68.988764,2020-03-05,2020-03-15,141.0,3656.0,7386.0
15504,PER,2020-05-31,0.900162,-0.246792,-90.194030,2020-03-05,2020-03-15,135.0,761.0,8805.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
15505,PHL,2020-01-01,3.363441,1.709886,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15506,PHL,2020-01-02,0.745851,1.322138,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15507,PHL,2020-01-03,0.207904,0.945547,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15508,PHL,2020-01-04,0.108523,0.571987,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15509,PHL,2020-01-05,0.779428,0.201794,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15652,PHL,2020-05-27,0.871687,0.912234,-50.888889,2020-03-08,2020-03-12,18.0,94.0,380.0
15653,PHL,2020-05-28,0.320622,0.915972,-50.666667,2020-03-08,2020-03-12,17.0,92.0,539.0
15654,PHL,2020-05-29,0.396356,0.915459,-53.888889,2020-03-08,2020-03-12,21.0,122.0,1046.0
15655,PHL,2020-05-30,1.161469,0.912804,-54.777778,2020-03-08,2020-03-12,8.0,88.0,590.0
15656,PHL,2020-05-31,1.372960,0.911958,-62.500000,2020-03-08,2020-03-12,7.0,101.0,862.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
15657,POL,2020-01-01,2.707670,2.341401,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15658,POL,2020-01-02,0.434171,1.942909,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15659,POL,2020-01-03,2.504736,1.564473,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15660,POL,2020-01-04,1.195082,1.202820,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
15661,POL,2020-01-05,0.219895,0.848920,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15804,POL,2020-05-27,-0.736914,-0.458186,-32.705882,2020-03-08,2020-03-12,4.0,310.0,399.0
15805,POL,2020-05-28,-0.990333,-0.443798,-34.882353,2020-03-08,2020-03-12,10.0,230.0,352.0
15806,POL,2020-05-29,-0.200774,-0.418017,-31.470588,2020-03-08,2020-03-12,13.0,132.0,330.0
15807,POL,2020-05-30,-0.080071,-0.387102,-27.470588,2020-03-08,2020-03-12,10.0,324.0,416.0
15808,POL,2020-05-31,-0.179291,-0.356599,-31.588235,2020-03-08,2020-03-12,3.0,255.0,215.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
15809,PRI,2020-01-01,3.129082,1.819808,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
15810,PRI,2020-01-02,0.097710,1.152352,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
15811,PRI,2020-01-03,-0.201578,0.491234,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
15812,PRI,2020-01-04,0.262892,-0.164932,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
15813,PRI,2020-01-05,0.829242,-0.799467,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15956,PRI,2020-05-27,0.077852,0.384054,-69.6,2020-03-08,2020-03-14,NaN,NaN,NaN
15957,PRI,2020-05-28,0.046129,0.364688,-70.2,2020-03-08,2020-03-14,NaN,NaN,NaN
15958,PRI,2020-05-29,0.197471,0.339837,-65.2,2020-03-08,2020-03-14,NaN,NaN,NaN
15959,PRI,2020-05-30,1.158163,0.314206,-67.8,2020-03-08,2020-03-14,NaN,NaN,NaN
15960,PRI,2020-05-31,0.349286,0.289568,-65.4,2020-03-08,2020-03-14,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
15961,PRT,2020-01-01,5.212462,2.217099,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
15962,PRT,2020-01-02,0.927233,1.482083,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
15963,PRT,2020-01-03,0.619527,0.781635,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
15964,PRT,2020-01-04,-0.724778,0.112667,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
15965,PRT,2020-01-05,-0.792162,-0.526165,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
16108,PRT,2020-05-27,-0.648728,0.488680,-43.720000,2020-03-07,2020-03-12,14.0,253.0,285.0
16109,PRT,2020-05-28,-0.037388,0.305679,-43.054054,2020-03-07,2020-03-12,13.0,288.0,304.0
16110,PRT,2020-05-29,-0.676455,0.122259,-41.539474,2020-03-07,2020-03-12,14.0,274.0,350.0
16111,PRT,2020-05-30,1.641222,-0.055521,-32.735294,2020-03-07,2020-03-12,13.0,275.0,257.0
16112,PRT,2020-05-31,0.241574,-0.221986,-40.065574,2020-03-07,2020-03-12,14.0,223.0,297.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
16113,PRY,2020-01-01,6.854876,3.627562,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
16114,PRY,2020-01-02,1.935131,3.039158,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
16115,PRY,2020-01-03,1.484349,2.474969,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
16116,PRY,2020-01-04,0.725311,1.928407,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
16117,PRY,2020-01-05,0.701481,1.394017,NaN,2020-03-09,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
16260,PRY,2020-05-27,0.962193,0.823002,-42.777778,2020-03-09,2020-03-13,0.0,10.0,7.0
16261,PRY,2020-05-28,1.636582,0.532084,-39.555556,2020-03-09,2020-03-13,0.0,10.0,16.0
16262,PRY,2020-05-29,0.364429,0.232852,-41.272727,2020-03-09,2020-03-13,0.0,11.0,17.0
16263,PRY,2020-05-30,-0.231354,-0.085302,-42.916667,2020-03-09,2020-03-13,0.0,53.0,47.0
16264,PRY,2020-05-31,-0.565283,-0.423743,-56.090909,2020-03-09,2020-03-13,0.0,11.0,22.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
16265,QAT,2020-01-01,2.484229,1.068035,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
16266,QAT,2020-01-02,0.553556,0.752452,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
16267,QAT,2020-01-03,-0.189492,0.460124,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
16268,QAT,2020-01-04,-0.765139,0.175062,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
16269,QAT,2020-01-05,0.100752,-0.109550,NaN,2020-03-07,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
16412,QAT,2020-05-27,0.192881,0.787009,-44.0,2020-03-07,2020-03-13,2.0,1439.0,1740.0
16413,QAT,2020-05-28,-0.090263,0.056793,-48.0,2020-03-07,2020-03-13,3.0,2116.0,1967.0
16414,QAT,2020-05-29,0.031160,-0.671279,-61.0,2020-03-07,2020-03-13,3.0,5205.0,1993.0
16415,QAT,2020-05-30,-0.728128,-1.398495,-46.0,2020-03-07,2020-03-13,0.0,5235.0,2355.0
16416,QAT,2020-05-31,-0.757146,-2.137330,-40.0,2020-03-07,2020-03-13,2.0,4451.0,1648.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
16417,ROU,2020-01-01,2.123966,1.109171,NaN,2020-03-04,2020-03-11,NaN,NaN,NaN
16418,ROU,2020-01-02,-0.220664,0.918891,NaN,2020-03-04,2020-03-11,NaN,NaN,NaN
16419,ROU,2020-01-03,-0.811519,0.732345,NaN,2020-03-04,2020-03-11,NaN,NaN,NaN
16420,ROU,2020-01-04,-0.101288,0.538521,NaN,2020-03-04,2020-03-11,NaN,NaN,NaN
16421,ROU,2020-01-05,0.878021,0.340900,NaN,2020-03-04,2020-03-11,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
16564,ROU,2020-05-27,0.492854,0.512890,-21.372093,2020-03-04,2020-03-11,11.0,288.0,165.0
16565,ROU,2020-05-28,0.303855,0.530302,-21.116279,2020-03-04,2020-03-11,8.0,467.0,197.0
16566,ROU,2020-05-29,0.541526,0.556116,-20.720930,2020-03-04,2020-03-11,13.0,200.0,191.0
16567,ROU,2020-05-30,0.722135,0.580768,-13.571429,2020-03-04,2020-03-11,11.0,217.0,151.0
16568,ROU,2020-05-31,1.313615,0.603213,-19.317073,2020-03-04,2020-03-11,7.0,210.0,124.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
16569,RUS,2020-01-01,4.830138,4.149745,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
16570,RUS,2020-01-02,2.803645,3.421629,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
16571,RUS,2020-01-03,1.273993,2.714331,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
16572,RUS,2020-01-04,1.207905,2.015520,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
16573,RUS,2020-01-05,0.686215,1.314429,NaN,2020-03-10,2020-03-17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
16716,RUS,2020-05-27,1.190237,0.561275,-20.000000,2020-03-10,2020-03-17,322.0,22158.0,16676.0
16717,RUS,2020-05-28,0.356513,0.513770,-19.058824,2020-03-10,2020-03-17,348.0,17570.0,16742.0
16718,RUS,2020-05-29,-0.612254,0.471270,-19.352941,2020-03-10,2020-03-17,464.0,16528.0,17144.0
16719,RUS,2020-05-30,0.642525,0.428868,-17.705882,2020-03-10,2020-03-17,362.0,16424.0,17904.0
16720,RUS,2020-05-31,2.157347,0.387298,-19.882353,2020-03-10,2020-03-17,276.0,8828.0,18536.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
16721,RWA,2020-01-01,1.219035,0.753805,NaN,2020-03-08,2020-03-15,NaN,NaN,NaN
16722,RWA,2020-01-02,0.296464,0.562415,NaN,2020-03-08,2020-03-15,NaN,NaN,NaN
16723,RWA,2020-01-03,-0.321185,0.377553,NaN,2020-03-08,2020-03-15,NaN,NaN,NaN
16724,RWA,2020-01-04,0.189251,0.195327,NaN,2020-03-08,2020-03-15,NaN,NaN,NaN
16725,RWA,2020-01-05,0.408728,0.019888,NaN,2020-03-08,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
16868,RWA,2020-05-27,-0.594176,0.163568,-37.333333,2020-03-08,2020-03-15,0.0,1.0,7.0
16869,RWA,2020-05-28,1.193960,0.031890,-34.777778,2020-03-08,2020-03-15,0.0,0.0,3.0
16870,RWA,2020-05-29,-0.066086,-0.097595,-41.444444,2020-03-08,2020-03-15,0.0,2.0,6.0
16871,RWA,2020-05-30,-0.606554,-0.232312,-34.375000,2020-03-08,2020-03-15,1.0,3.0,4.0
16872,RWA,2020-05-31,-0.612706,-0.375617,-45.000000,2020-03-08,2020-03-15,0.0,6.0,11.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
16873,SAU,2020-01-01,2.341468,1.482582,NaN,2020-03-01,2020-03-24,NaN,NaN,NaN
16874,SAU,2020-01-02,0.215663,1.162702,NaN,2020-03-01,2020-03-24,NaN,NaN,NaN
16875,SAU,2020-01-03,-0.041743,0.853732,NaN,2020-03-01,2020-03-24,NaN,NaN,NaN
16876,SAU,2020-01-04,0.148001,0.552060,NaN,2020-03-01,2020-03-24,NaN,NaN,NaN
16877,SAU,2020-01-05,-0.599678,0.260779,NaN,2020-03-01,2020-03-24,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17020,SAU,2020-05-27,-0.393673,0.773012,-78.090909,2020-03-01,2020-03-24,14.0,2572.0,1815.0
17021,SAU,2020-05-28,-0.884621,0.015141,-65.272727,2020-03-01,2020-03-24,16.0,3531.0,1644.0
17022,SAU,2020-05-29,-0.713065,-0.746399,-66.818182,2020-03-01,2020-03-24,17.0,2460.0,1581.0
17023,SAU,2020-05-30,-0.752168,-1.508435,-62.454545,2020-03-01,2020-03-24,22.0,1870.0,1618.0
17024,SAU,2020-05-31,-0.318117,-2.276747,-51.800000,2020-03-01,2020-03-24,23.0,3559.0,1877.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
17025,SDN,2020-01-01,-1.278110,-2.457933,NaN,2020-03-11,2020-03-12,NaN,NaN,NaN
17026,SDN,2020-01-02,-3.132240,-2.253576,NaN,2020-03-11,2020-03-12,NaN,NaN,NaN
17027,SDN,2020-01-03,-2.267358,-2.040684,NaN,2020-03-11,2020-03-12,NaN,NaN,NaN
17028,SDN,2020-01-04,-2.223411,-1.824512,NaN,2020-03-11,2020-03-12,NaN,NaN,NaN
17029,SDN,2020-01-05,-0.924334,-1.610967,NaN,2020-03-11,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17172,SDN,2020-05-27,-0.560077,1.028203,NaN,2020-03-11,2020-03-12,25.0,246.0,370.0
17173,SDN,2020-05-28,1.080470,0.587386,NaN,2020-03-11,2020-03-12,0.0,0.0,0.0
17174,SDN,2020-05-29,-0.097061,0.140494,NaN,2020-03-11,2020-03-12,38.0,67.0,175.0
17175,SDN,2020-05-30,-0.582243,-0.314319,NaN,2020-03-11,2020-03-12,29.0,456.0,279.0
17176,SDN,2020-05-31,0.239500,-0.787905,NaN,2020-03-11,2020-03-12,24.0,151.0,226.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
17177,SEN,2020-01-01,2.620852,1.680353,NaN,2020-03-10,2020-03-22,NaN,NaN,NaN
17178,SEN,2020-01-02,0.166361,1.405313,NaN,2020-03-10,2020-03-22,NaN,NaN,NaN
17179,SEN,2020-01-03,0.473279,1.132619,NaN,2020-03-10,2020-03-22,NaN,NaN,NaN
17180,SEN,2020-01-04,1.009522,0.857126,NaN,2020-03-10,2020-03-22,NaN,NaN,NaN
17181,SEN,2020-01-05,-0.347008,0.583254,NaN,2020-03-10,2020-03-22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17324,SEN,2020-05-27,-0.604425,0.613926,-49.666667,2020-03-10,2020-03-22,2.0,21.0,92.0
17325,SEN,2020-05-28,0.667851,0.413971,-50.333333,2020-03-10,2020-03-22,1.0,100.0,95.0
17326,SEN,2020-05-29,-0.007013,0.198202,-50.750000,2020-03-10,2020-03-22,2.0,52.0,81.0
17327,SEN,2020-05-30,0.244608,-0.020989,-47.000000,2020-03-10,2020-03-22,1.0,23.0,106.0
17328,SEN,2020-05-31,0.126044,-0.240970,-55.333333,2020-03-10,2020-03-22,0.0,40.0,110.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
17329,SGP,2020-01-01,5.354957,2.402613,NaN,2020-03-01,2020-04-04,NaN,NaN,NaN
17330,SGP,2020-01-02,0.918648,1.957010,NaN,2020-03-01,2020-04-04,NaN,NaN,NaN
17331,SGP,2020-01-03,-0.225247,1.528813,NaN,2020-03-01,2020-04-04,NaN,NaN,NaN
17332,SGP,2020-01-04,1.890921,1.106250,NaN,2020-03-01,2020-04-04,NaN,NaN,NaN
17333,SGP,2020-01-05,1.121164,0.689589,NaN,2020-03-01,2020-04-04,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17476,SGP,2020-05-27,1.647872,1.350605,-62.0,2020-03-01,2020-04-04,0.0,832.0,533.0
17477,SGP,2020-05-28,-0.154776,1.063133,-61.0,2020-03-01,2020-04-04,0.0,1018.0,373.0
17478,SGP,2020-05-29,1.038635,0.759143,-62.0,2020-03-01,2020-04-04,0.0,1337.0,611.0
17479,SGP,2020-05-30,0.222880,0.445093,-61.0,2020-03-01,2020-04-04,0.0,1096.0,506.0
17480,SGP,2020-05-31,1.894792,0.123275,-64.0,2020-03-01,2020-04-04,0.0,972.0,518.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
17481,SLE,2020-01-01,1.259137,-0.227738,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
17482,SLE,2020-01-02,0.791541,-0.315791,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
17483,SLE,2020-01-03,-2.262133,-0.398819,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
17484,SLE,2020-01-04,-0.733158,-0.481462,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
17485,SLE,2020-01-05,0.108757,-0.564372,NaN,2020-03-10,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17628,SLE,2020-05-27,0.393807,0.620980,NaN,2020-03-10,2020-03-13,1.0,0.0,28.0
17629,SLE,2020-05-28,0.153925,0.238768,NaN,2020-03-10,2020-03-13,0.0,64.0,30.0
17630,SLE,2020-05-29,-1.318461,-0.154291,NaN,2020-03-10,2020-03-13,0.0,25.0,17.0
17631,SLE,2020-05-30,0.160357,-0.553997,NaN,2020-03-10,2020-03-13,1.0,29.0,23.0
17632,SLE,2020-05-31,-1.076250,-0.959716,NaN,2020-03-10,2020-03-13,0.0,39.0,9.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
17633,SLV,2020-01-01,5.371692,3.824899,NaN,2020-03-08,2020-03-31,NaN,NaN,NaN
17634,SLV,2020-01-02,2.449456,3.227015,NaN,2020-03-08,2020-03-31,NaN,NaN,NaN
17635,SLV,2020-01-03,0.167762,2.643517,NaN,2020-03-08,2020-03-31,NaN,NaN,NaN
17636,SLV,2020-01-04,1.409249,2.056287,NaN,2020-03-08,2020-03-31,NaN,NaN,NaN
17637,SLV,2020-01-05,1.840668,1.457429,NaN,2020-03-08,2020-03-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17780,SLV,2020-05-27,-2.119357,-1.337419,-65.555556,2020-03-08,2020-03-31,3.0,104.0,67.0
17781,SLV,2020-05-28,-1.992114,-2.005687,-67.111111,2020-03-08,2020-03-31,0.0,111.0,85.0
17782,SLV,2020-05-29,-2.451281,-2.680504,-68.555556,2020-03-08,2020-03-31,3.0,13.0,84.0
17783,SLV,2020-05-30,-3.127727,-3.357744,-73.300000,2020-03-08,2020-03-31,4.0,16.0,117.0
17784,SLV,2020-05-31,-4.280470,-4.038026,-77.000000,2020-03-08,2020-03-31,0.0,9.0,122.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
17785,SOM,2020-01-01,3.193163,1.682449,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
17786,SOM,2020-01-02,0.268782,1.270415,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
17787,SOM,2020-01-03,-0.711230,0.862112,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
17788,SOM,2020-01-04,0.114754,0.444258,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
17789,SOM,2020-01-05,0.728865,0.022464,NaN,2020-03-09,2020-03-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17932,SOM,2020-05-27,0.734125,-0.482790,NaN,2020-03-09,2020-03-21,0.0,12.0,20.0
17933,SOM,2020-05-28,-1.596799,-0.451283,NaN,2020-03-09,2020-03-21,5.0,45.0,97.0
17934,SOM,2020-05-29,-1.548753,-0.413730,NaN,2020-03-09,2020-03-21,0.0,0.0,0.0
17935,SOM,2020-05-30,-1.048415,-0.376286,NaN,2020-03-09,2020-03-21,1.0,17.0,88.0
17936,SOM,2020-05-31,0.008464,-0.336281,NaN,2020-03-09,2020-03-21,5.0,21.0,60.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
17937,SRB,2020-01-01,4.433735,2.658777,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
17938,SRB,2020-01-02,0.565144,2.171192,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
17939,SRB,2020-01-03,0.721493,1.701593,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
17940,SRB,2020-01-04,0.758105,1.241572,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
17941,SRB,2020-01-05,0.023007,0.789671,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
18084,SRB,2020-05-27,1.492731,0.739694,NaN,2020-03-05,2020-03-14,1.0,210.0,48.0
18085,SRB,2020-05-28,1.004931,0.864904,NaN,2020-03-05,2020-03-14,1.0,161.0,25.0
18086,SRB,2020-05-29,1.632735,0.985524,NaN,2020-03-05,2020-03-14,1.0,86.0,54.0
18087,SRB,2020-05-30,1.432621,1.111133,NaN,2020-03-05,2020-03-14,0.0,82.0,27.0
18088,SRB,2020-05-31,0.258432,1.243635,NaN,2020-03-05,2020-03-14,1.0,92.0,31.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
18089,SVK,2020-01-01,2.872161,2.257713,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
18090,SVK,2020-01-02,0.905031,1.950848,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
18091,SVK,2020-01-03,2.429078,1.638052,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
18092,SVK,2020-01-04,1.565517,1.326217,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
18093,SVK,2020-01-05,-0.007038,1.024166,NaN,2020-03-08,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
18236,SVK,2020-05-27,3.021874,2.625022,-29.120000,2020-03-08,2020-03-14,0.0,5.0,2.0
18237,SVK,2020-05-28,3.487414,2.591619,-32.320000,2020-03-08,2020-03-14,0.0,5.0,5.0
18238,SVK,2020-05-29,3.503440,2.552885,-32.254545,2020-03-08,2020-03-14,0.0,6.0,0.0
18239,SVK,2020-05-30,2.218453,2.509791,-24.138889,2020-03-08,2020-03-14,0.0,18.0,1.0
18240,SVK,2020-05-31,2.481366,2.455586,-51.027027,2020-03-08,2020-03-14,0.0,10.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
18241,SVN,2020-01-01,1.870208,1.654329,NaN,2020-03-06,2020-03-19,NaN,NaN,NaN
18242,SVN,2020-01-02,0.499163,1.350576,NaN,2020-03-06,2020-03-19,NaN,NaN,NaN
18243,SVN,2020-01-03,1.950988,1.058277,NaN,2020-03-06,2020-03-19,NaN,NaN,NaN
18244,SVN,2020-01-04,1.397172,0.781785,NaN,2020-03-06,2020-03-19,NaN,NaN,NaN
18245,SVN,2020-01-05,-0.892577,0.524634,NaN,2020-03-06,2020-03-19,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
18388,SVN,2020-05-27,0.360799,0.459397,-23.560000,2020-03-06,2020-03-19,0.0,8.0,2.0
18389,SVN,2020-05-28,0.647300,0.514331,-29.533333,2020-03-06,2020-03-19,0.0,2.0,2.0
18390,SVN,2020-05-29,1.362280,0.574157,-24.428571,2020-03-06,2020-03-19,0.0,1.0,0.0
18391,SVN,2020-05-30,1.200675,0.640002,-19.000000,2020-03-06,2020-03-19,0.0,0.0,0.0
18392,SVN,2020-05-31,-0.281605,0.707021,-40.000000,2020-03-06,2020-03-19,0.0,1.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
18393,SWE,2020-01-01,3.328207,0.683113,NaN,2020-03-01,2020-03-13,NaN,NaN,NaN
18394,SWE,2020-01-02,-0.214796,0.442587,NaN,2020-03-01,2020-03-13,NaN,NaN,NaN
18395,SWE,2020-01-03,0.443246,0.212078,NaN,2020-03-01,2020-03-13,NaN,NaN,NaN
18396,SWE,2020-01-04,-0.226081,-0.018024,NaN,2020-03-01,2020-03-13,NaN,NaN,NaN
18397,SWE,2020-01-05,-1.355913,-0.246637,NaN,2020-03-01,2020-03-13,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
18540,SWE,2020-05-27,-0.303167,0.380265,-22.767296,2020-03-01,2020-03-13,95.0,0.0,648.0
18541,SWE,2020-05-28,0.460521,0.483656,-20.117284,2020-03-01,2020-03-13,46.0,0.0,639.0
18542,SWE,2020-05-29,0.901851,0.595300,-18.428571,2020-03-01,2020-03-13,84.0,0.0,749.0
18543,SWE,2020-05-30,0.965719,0.712463,-3.025000,2020-03-01,2020-03-13,45.0,0.0,637.0
18544,SWE,2020-05-31,0.714998,0.832565,-6.754098,2020-03-01,2020-03-13,0.0,0.0,429.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
18545,SWZ,2020-01-01,0.645380,-0.318755,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
18546,SWZ,2020-01-02,-1.201887,-0.488468,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
18547,SWZ,2020-01-03,0.196516,-0.655805,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
18548,SWZ,2020-01-04,-2.110149,-0.817339,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
18549,SWZ,2020-01-05,-1.041430,-0.966414,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
18692,SWZ,2020-05-27,0.573004,1.245472,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
18693,SWZ,2020-05-28,1.637978,1.085035,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
18694,SWZ,2020-05-29,1.512345,0.916368,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
18695,SWZ,2020-05-30,0.471207,0.733397,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN
18696,SWZ,2020-05-31,0.967143,0.536115,NaN,2020-03-09,2020-03-15,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
18697,SYR,2020-01-01,1.288006,0.226822,NaN,2020-03-10,2020-03-01,NaN,NaN,NaN
18698,SYR,2020-01-02,-0.142891,0.253522,NaN,2020-03-10,2020-03-01,NaN,NaN,NaN
18699,SYR,2020-01-03,-1.171061,0.289578,NaN,2020-03-10,2020-03-01,NaN,NaN,NaN
18700,SYR,2020-01-04,-0.224022,0.331305,NaN,2020-03-10,2020-03-01,NaN,NaN,NaN
18701,SYR,2020-01-05,1.065134,0.379292,NaN,2020-03-10,2020-03-01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
18844,SYR,2020-05-27,0.589188,1.056562,NaN,2020-03-10,2020-03-01,0.0,2.0,0.0
18845,SYR,2020-05-28,0.900728,0.919442,NaN,2020-03-10,2020-03-01,0.0,0.0,1.0
18846,SYR,2020-05-29,1.009500,0.781994,NaN,2020-03-10,2020-03-01,0.0,0.0,0.0
18847,SYR,2020-05-30,0.279278,0.643680,NaN,2020-03-10,2020-03-01,0.0,0.0,0.0
18848,SYR,2020-05-31,0.142637,0.502723,NaN,2020-03-10,2020-03-01,1.0,3.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
18849,THA,2020-01-01,1.355237,0.176560,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
18850,THA,2020-01-02,-0.833241,-0.028153,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
18851,THA,2020-01-03,-0.695959,-0.216204,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
18852,THA,2020-01-04,-0.271501,-0.392010,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
18853,THA,2020-01-05,-0.513314,-0.559936,NaN,2020-02-24,2020-02-27,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
18996,THA,2020-05-27,2.938364,2.049926,-37.0,2020-02-24,2020-02-27,0.0,2.0,9.0
18997,THA,2020-05-28,1.321798,2.023297,-38.0,2020-02-24,2020-02-27,0.0,14.0,11.0
18998,THA,2020-05-29,0.911426,1.978610,-38.0,2020-02-24,2020-02-27,0.0,0.0,11.0
18999,THA,2020-05-30,2.134726,1.924152,-34.0,2020-02-24,2020-02-27,0.0,16.0,1.0
19000,THA,2020-05-31,3.060413,1.875810,-34.0,2020-02-24,2020-02-27,0.0,2.0,4.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
19001,TTO,2020-01-01,3.453036,1.366063,NaN,2020-03-10,2020-03-14,NaN,NaN,NaN
19002,TTO,2020-01-02,1.152187,1.074114,NaN,2020-03-10,2020-03-14,NaN,NaN,NaN
19003,TTO,2020-01-03,-1.029021,0.796249,NaN,2020-03-10,2020-03-14,NaN,NaN,NaN
19004,TTO,2020-01-04,-0.880508,0.521965,NaN,2020-03-10,2020-03-14,NaN,NaN,NaN
19005,TTO,2020-01-05,0.669065,0.259069,NaN,2020-03-10,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19148,TTO,2020-05-27,-0.811480,-0.340149,-61.0,2020-03-10,2020-03-14,0.0,0.0,0.0
19149,TTO,2020-05-28,-0.954755,-0.594670,-60.0,2020-03-10,2020-03-14,0.0,0.0,0.0
19150,TTO,2020-05-29,-1.541931,-0.857757,-60.0,2020-03-10,2020-03-14,0.0,0.0,0.0
19151,TTO,2020-05-30,-0.763369,-1.123716,-65.0,2020-03-10,2020-03-14,0.0,0.0,1.0
19152,TTO,2020-05-31,-0.880443,-1.388748,-70.0,2020-03-10,2020-03-14,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
19153,TUN,2020-01-01,-0.863537,-0.583732,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
19154,TUN,2020-01-02,-0.125746,-0.734041,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
19155,TUN,2020-01-03,-1.939412,-0.888095,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
19156,TUN,2020-01-04,-0.067770,-1.045883,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
19157,TUN,2020-01-05,-0.430190,-1.204380,NaN,2020-03-08,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19300,TUN,2020-05-27,0.883780,0.232452,NaN,2020-03-08,2020-03-12,0.0,0.0,0.0
19301,TUN,2020-05-28,-1.314776,-0.067963,NaN,2020-03-08,2020-03-12,0.0,9.0,17.0
19302,TUN,2020-05-29,-0.469010,-0.387015,NaN,2020-03-08,2020-03-12,0.0,8.0,3.0
19303,TUN,2020-05-30,-1.395385,-0.723890,NaN,2020-03-08,2020-03-12,0.0,4.0,5.0
19304,TUN,2020-05-31,-0.591425,-1.077736,NaN,2020-03-08,2020-03-12,0.0,10.0,1.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
19305,TUR,2020-01-01,1.734717,0.815279,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
19306,TUR,2020-01-02,0.556116,0.625424,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
19307,TUR,2020-01-03,0.506369,0.450007,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
19308,TUR,2020-01-04,0.400448,0.286395,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
19309,TUR,2020-01-05,0.246680,0.134107,NaN,2020-03-09,2020-03-25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19452,TUR,2020-05-27,0.013641,1.262619,-35.791809,2020-03-09,2020-03-25,68.0,2572.0,2070.0
19453,TUR,2020-05-28,0.928894,0.989178,-36.506757,2020-03-09,2020-03-25,60.0,3152.0,2364.0
19454,TUR,2020-05-29,1.722722,0.735273,-39.205882,2020-03-09,2020-03-25,56.0,3188.0,2282.0
19455,TUR,2020-05-30,0.468964,0.490497,-63.781879,2020-03-09,2020-03-25,52.0,2042.0,1966.0
19456,TUR,2020-05-31,1.287982,0.234674,-62.145763,2020-03-09,2020-03-25,50.0,1978.0,1678.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
19457,TWN,2020-01-01,4.970256,3.210861,NaN,2020-02-23,2020-03-16,NaN,NaN,NaN
19458,TWN,2020-01-02,1.983800,2.795844,NaN,2020-02-23,2020-03-16,NaN,NaN,NaN
19459,TWN,2020-01-03,1.679221,2.387369,NaN,2020-02-23,2020-03-16,NaN,NaN,NaN
19460,TWN,2020-01-04,1.507099,1.982474,NaN,2020-02-23,2020-03-16,NaN,NaN,NaN
19461,TWN,2020-01-05,1.216716,1.580671,NaN,2020-02-23,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19604,TWN,2020-05-27,-1.601647,-0.786128,-19.0,2020-02-23,2020-03-16,NaN,NaN,NaN
19605,TWN,2020-05-28,-1.235375,-0.818176,-22.0,2020-02-23,2020-03-16,NaN,NaN,NaN
19606,TWN,2020-05-29,-1.261941,-0.849815,-11.0,2020-02-23,2020-03-16,NaN,NaN,NaN
19607,TWN,2020-05-30,0.376693,-0.880356,-17.0,2020-02-23,2020-03-16,NaN,NaN,NaN
19608,TWN,2020-05-31,-0.565638,-0.909431,-15.0,2020-02-23,2020-03-16,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
19609,TZA,2020-01-01,1.707264,0.654504,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
19610,TZA,2020-01-02,-0.811997,0.129084,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
19611,TZA,2020-01-03,-1.448983,-0.371883,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
19612,TZA,2020-01-04,-0.705497,-0.855272,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
19613,TZA,2020-01-05,-2.739356,-1.320908,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19756,TZA,2020-05-27,0.133888,0.637116,-10.777778,2020-03-10,2020-03-15,0.0,0.0,0.0
19757,TZA,2020-05-28,0.637221,0.819025,-7.611111,2020-03-10,2020-03-15,0.0,0.0,0.0
19758,TZA,2020-05-29,0.448913,1.006930,-8.891892,2020-03-10,2020-03-15,0.0,0.0,0.0
19759,TZA,2020-05-30,1.558254,1.201973,-8.918919,2020-03-10,2020-03-15,0.0,0.0,0.0
19760,TZA,2020-05-31,1.284963,1.405507,-7.235294,2020-03-10,2020-03-15,0.0,0.0,0.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
19761,UGA,2020-01-01,0.719785,-0.343972,NaN,2020-03-11,2020-03-24,NaN,NaN,NaN
19762,UGA,2020-01-02,-2.119952,-0.339749,NaN,2020-03-11,2020-03-24,NaN,NaN,NaN
19763,UGA,2020-01-03,-0.469323,-0.347845,NaN,2020-03-11,2020-03-24,NaN,NaN,NaN
19764,UGA,2020-01-04,0.601958,-0.367199,NaN,2020-03-11,2020-03-24,NaN,NaN,NaN
19765,UGA,2020-01-05,0.194792,-0.378541,NaN,2020-03-11,2020-03-24,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19908,UGA,2020-05-27,-0.442357,0.900999,-51.111111,2020-03-11,2020-03-24,0.0,0.0,28.0
19909,UGA,2020-05-28,0.588652,0.901883,-50.444444,2020-03-11,2020-03-24,0.0,0.0,36.0
19910,UGA,2020-05-29,2.041600,0.907349,-52.222222,2020-03-11,2020-03-24,0.0,3.0,12.0
19911,UGA,2020-05-30,2.495209,0.928097,-52.800000,2020-03-11,2020-03-24,0.0,0.0,84.0
19912,UGA,2020-05-31,0.511645,0.961073,-56.111111,2020-03-11,2020-03-24,0.0,0.0,4.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
19913,UKR,2020-01-01,1.109089,1.198115,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
19914,UKR,2020-01-02,0.757173,0.855985,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
19915,UKR,2020-01-03,-0.356348,0.519680,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
19916,UKR,2020-01-04,0.168664,0.185217,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
19917,UKR,2020-01-05,-0.619961,-0.149226,NaN,2020-03-10,2020-03-16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20060,UKR,2020-05-27,0.267339,0.225440,-23.5,2020-03-10,2020-03-16,14.0,420.0,321.0
20061,UKR,2020-05-28,0.242458,0.078879,-26.5,2020-03-10,2020-03-16,11.0,444.0,477.0
20062,UKR,2020-05-29,-0.168748,-0.061959,-25.0,2020-03-10,2020-03-16,10.0,495.0,429.0
20063,UKR,2020-05-30,0.581747,-0.199886,-29.5,2020-03-10,2020-03-16,17.0,377.0,393.0
20064,UKR,2020-05-31,0.018541,-0.338304,-16.5,2020-03-10,2020-03-16,12.0,227.0,468.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
20065,URY,2020-01-01,7.270969,3.566846,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
20066,URY,2020-01-02,0.213974,2.750673,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
20067,URY,2020-01-03,-0.540013,1.963358,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
20068,URY,2020-01-04,0.628480,1.190972,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
20069,URY,2020-01-05,0.484392,0.434906,NaN,2020-03-10,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20212,URY,2020-05-27,1.884685,1.113602,-39.055556,2020-03-10,2020-03-15,0.0,12.0,14.0
20213,URY,2020-05-28,0.665727,0.850783,-43.000000,2020-03-10,2020-03-15,0.0,4.0,8.0
20214,URY,2020-05-29,1.060766,0.576779,-43.500000,2020-03-10,2020-03-15,0.0,26.0,5.0
20215,URY,2020-05-30,2.023818,0.292193,-47.000000,2020-03-10,2020-03-15,0.0,2.0,5.0
20216,URY,2020-05-31,-2.822399,-0.012518,-64.222222,2020-03-10,2020-03-15,0.0,3.0,2.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
20217,USA,2020-01-01,4.324215,1.336594,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
20218,USA,2020-01-02,0.168652,0.903590,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
20219,USA,2020-01-03,-1.049207,0.490647,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
20220,USA,2020-01-04,0.065922,0.088097,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
20221,USA,2020-01-05,-1.335513,-0.302358,NaN,2020-03-05,2020-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20364,USA,2020-05-27,-0.703816,-0.759332,-12.605714,2020-03-05,2020-03-14,NaN,NaN,NaN
20365,USA,2020-05-28,-1.378175,-1.153662,-12.216936,2020-03-05,2020-03-14,NaN,NaN,NaN
20366,USA,2020-05-29,-1.440015,-1.553201,-11.385047,2020-03-05,2020-03-14,NaN,NaN,NaN
20367,USA,2020-05-30,-1.103954,-1.956014,-5.860681,2020-03-05,2020-03-14,NaN,NaN,NaN
20368,USA,2020-05-31,-2.476721,-2.361282,-6.844253,2020-03-05,2020-03-14,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
20369,UZB,2020-01-01,1.176635,0.670082,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
20370,UZB,2020-01-02,-0.888438,0.557287,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
20371,UZB,2020-01-03,1.570059,0.454528,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
20372,UZB,2020-01-04,0.044381,0.358857,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
20373,UZB,2020-01-05,0.001296,0.269414,NaN,2020-03-11,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20516,UZB,2020-05-27,0.008927,0.227863,NaN,2020-03-11,2020-03-15,0.0,32.0,79.0
20517,UZB,2020-05-28,-0.240394,0.145271,NaN,2020-03-11,2020-03-15,0.0,26.0,75.0
20518,UZB,2020-05-29,0.601419,0.067253,NaN,2020-03-11,2020-03-15,0.0,34.0,24.0
20519,UZB,2020-05-30,0.176132,-0.009838,NaN,2020-03-11,2020-03-15,0.0,55.0,78.0
20520,UZB,2020-05-31,0.509084,-0.088642,NaN,2020-03-11,2020-03-15,1.0,54.0,77.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
20521,VEN,2020-01-01,5.888468,2.566089,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
20522,VEN,2020-01-02,1.392018,1.852590,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
20523,VEN,2020-01-03,0.268072,1.168411,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
20524,VEN,2020-01-04,-0.356682,0.509344,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
20525,VEN,2020-01-05,-2.479131,-0.127175,NaN,2020-03-11,2020-03-17,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20668,VEN,2020-05-27,-0.872367,-0.157497,-52.0,2020-03-11,2020-03-17,0.0,0.0,34.0
20669,VEN,2020-05-28,-0.377711,-0.159978,-49.0,2020-03-11,2020-03-17,0.0,0.0,80.0
20670,VEN,2020-05-29,0.809307,-0.176310,-48.0,2020-03-11,2020-03-17,3.0,0.0,45.0
20671,VEN,2020-05-30,0.365603,-0.206858,-45.0,2020-03-11,2020-03-17,0.0,0.0,89.0
20672,VEN,2020-05-31,-0.397552,-0.251390,-53.0,2020-03-11,2020-03-17,0.0,0.0,51.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
20673,VIR,2020-01-01,4.440621,2.374575,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
20674,VIR,2020-01-02,1.533901,2.018891,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
20675,VIR,2020-01-03,-0.160852,1.660124,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
20676,VIR,2020-01-04,1.042647,1.292899,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
20677,VIR,2020-01-05,1.483635,0.924772,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20820,VIR,2020-05-27,-2.471765,-1.349814,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
20821,VIR,2020-05-28,-2.367958,-1.178516,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
20822,VIR,2020-05-29,-3.422915,-1.008294,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
20823,VIR,2020-05-30,-0.277160,-0.824361,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN
20824,VIR,2020-05-31,0.008903,-0.615528,NaN,2020-03-10,2020-04-14,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
20825,VNM,2020-01-01,1.448025,0.739775,NaN,2020-02-22,2020-03-19,NaN,NaN,NaN
20826,VNM,2020-01-02,0.995410,0.667537,NaN,2020-02-22,2020-03-19,NaN,NaN,NaN
20827,VNM,2020-01-03,-0.065745,0.596104,NaN,2020-02-22,2020-03-19,NaN,NaN,NaN
20828,VNM,2020-01-04,0.680420,0.521724,NaN,2020-02-22,2020-03-19,NaN,NaN,NaN
20829,VNM,2020-01-05,0.474809,0.444732,NaN,2020-02-22,2020-03-19,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20972,VNM,2020-05-27,-0.287968,0.085106,-9.779661,2020-02-22,2020-03-19,NaN,NaN,NaN
20973,VNM,2020-05-28,-0.959118,0.245191,-8.271186,2020-02-22,2020-03-19,NaN,NaN,NaN
20974,VNM,2020-05-29,0.173521,0.412571,-3.431034,2020-02-22,2020-03-19,NaN,NaN,NaN
20975,VNM,2020-05-30,0.419224,0.591644,-0.627119,2020-02-22,2020-03-19,NaN,NaN,NaN
20976,VNM,2020-05-31,1.036390,0.785779,-4.881356,2020-02-22,2020-03-19,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
20977,XKO,2020-01-01,1.419614,0.150087,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
20978,XKO,2020-01-02,-0.041168,0.033530,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
20979,XKO,2020-01-03,-1.027201,-0.071677,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
20980,XKO,2020-01-04,0.270538,-0.168653,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
20981,XKO,2020-01-05,-0.295190,-0.259909,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
21124,XKO,2020-05-27,0.391642,0.565368,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
21125,XKO,2020-05-28,-0.565745,0.257490,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
21126,XKO,2020-05-29,-0.672479,-0.054952,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
21127,XKO,2020-05-30,2.045054,-0.369438,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN
21128,XKO,2020-05-31,0.148942,-0.685162,NaN,2020-03-07,2020-03-12,NaN,NaN,NaN

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
21129,YEM,2020-01-01,-1.663804,-1.231925,NaN,2020-03-04,2020-03-18,NaN,NaN,NaN
21130,YEM,2020-01-02,0.498409,-1.012136,NaN,2020-03-04,2020-03-18,NaN,NaN,NaN
21131,YEM,2020-01-03,-2.551906,-0.792386,NaN,2020-03-04,2020-03-18,NaN,NaN,NaN
21132,YEM,2020-01-04,-0.586246,-0.579584,NaN,2020-03-04,2020-03-18,NaN,NaN,NaN
21133,YEM,2020-01-05,0.243314,-0.375423,NaN,2020-03-04,2020-03-18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
21276,YEM,2020-05-27,1.384518,1.067670,-30.0,2020-03-04,2020-03-18,4.0,0.0,7.0
21277,YEM,2020-05-28,0.511617,0.994526,-33.0,2020-03-04,2020-03-18,4.0,1.0,22.0
21278,YEM,2020-05-29,0.638761,0.925068,-24.0,2020-03-04,2020-03-18,8.0,0.0,5.0
21279,YEM,2020-05-30,0.680368,0.859887,-20.0,2020-03-04,2020-03-18,12.0,2.0,27.0
21280,YEM,2020-05-31,0.999734,0.793906,-22.0,2020-03-04,2020-03-18,3.0,1.0,13.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
21281,ZAF,2020-01-01,1.570442,-0.312751,NaN,2020-03-08,2020-03-25,NaN,NaN,NaN
21282,ZAF,2020-01-02,-0.650670,-0.425268,NaN,2020-03-08,2020-03-25,NaN,NaN,NaN
21283,ZAF,2020-01-03,-1.475316,-0.524842,NaN,2020-03-08,2020-03-25,NaN,NaN,NaN
21284,ZAF,2020-01-04,-1.626520,-0.615249,NaN,2020-03-08,2020-03-25,NaN,NaN,NaN
21285,ZAF,2020-01-05,-1.071234,-0.699765,NaN,2020-03-08,2020-03-25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
21428,ZAF,2020-05-27,-0.744527,0.808002,-52.7,2020-03-08,2020-03-25,28.0,710.0,1673.0
21429,ZAF,2020-05-28,-0.043204,0.736167,-52.0,2020-03-08,2020-03-25,25.0,919.0,1466.0
21430,ZAF,2020-05-29,2.114765,0.663140,-50.2,2020-03-08,2020-03-25,34.0,723.0,1837.0
21431,ZAF,2020-05-30,1.379471,0.588891,-43.0,2020-03-08,2020-03-25,32.0,1023.0,1727.0
21432,ZAF,2020-05-31,1.373199,0.515033,-52.7,2020-03-08,2020-03-25,40.0,693.0,1716.0

,iso3,date,senti_bert_std,senti_bert_std_trend,transit,drop_senti_bert,min_senti_bert_std,death,recovered,confirmed
21433,ZMB,2020-01-01,2.299073,0.329223,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
21434,ZMB,2020-01-02,-0.166452,0.171433,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
21435,ZMB,2020-01-03,-1.397226,0.013945,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
21436,ZMB,2020-01-04,-0.292473,-0.152279,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
21437,ZMB,2020-01-05,-0.523435,-0.328566,NaN,2020-03-10,2020-03-25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
21580,ZMB,2020-05-27,-1.000340,0.843584,-7.0,2020-03-10,2020-03-25,0.0,443.0,137.0
21581,ZMB,2020-05-28,-1.709906,0.503450,-4.5,2020-03-10,2020-03-25,0.0,0.0,0.0
21582,ZMB,2020-05-29,0.791908,0.142681,-8.0,2020-03-10,2020-03-25,0.0,0.0,0.0
21583,ZMB,2020-05-30,1.036297,-0.223535,-5.0,2020-03-10,2020-03-25,0.0,0.0,0.0
21584,ZMB,2020-05-31,-0.838348,-0.589837,-12.0,2020-03-10,2020-03-25,0.0,0.0,0.0

In [25]:
import json
json_object = json.dumps(dictionary, indent = 4)

In [26]:
with open("../data/GlobalSentiment_Data.json", "w") as outfile:  
    json.dump(dictionary, outfile)

# Map data processing

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

We need to show a map with the following variables: shock_standard and HalfLife from the dataset provided.

First, we need to load the two files and merge them to have a geojson with countries' geometries and with the aditional information.

In [2]:
provided_data = pd.read_csv("../data/Final_Output.csv")
provided_data.head()

,iso3,country,continent,min_senti_bert,drop_senti_bert,averageN,HalfLife,shock,shock_standard
0,AFG,Afghanistan,Asia,3/13/2020,3/10/2020,448.256579,8.410348,NaN,NaN
1,AGO,Angola,Africa,3/23/2020,3/11/2020,817.013158,12.320138,-2.156,-0.660154
2,ALB,Albania,Europe,3/25/2020,3/7/2020,288.138158,2.666999,NaN,NaN
3,ARE,United Arab Emirates,Asia,3/15/2020,3/7/2020,17878.046050,48.739074,-0.849,-0.686110
4,ARG,Argentina,South America,3/16/2020,3/10/2020,104898.302600,27.957062,-2.045,-0.879744

In [4]:
countries_shapes = gpd.read_file("../data/countries.geojson")
countries_shapes.head()

,ADMIN,ISO_A3,ISO_A2,geometry
0,Aruba,ABW,AW,"MULTIPOLYGON (((-69.99694 12.57758, -69.93639 ..."
1,Afghanistan,AFG,AF,"MULTIPOLYGON (((71.04980 38.40866, 71.05714 38..."
2,Angola,AGO,AO,"MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -..."
3,Anguilla,AIA,AI,"MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ..."
4,Albania,ALB,AL,"MULTIPOLYGON (((19.74777 42.57890, 19.74601 42..."

Now, merge with ISO3 field.

In [5]:
countries_shapes = countries_shapes[countries_shapes['ISO_A3'] != '-99']

In [6]:
provided_data.drop([45], inplace=True)

In [7]:
provided_data[provided_data['iso3'] == 'GEO']

,iso3,country,continent,min_senti_bert,drop_senti_bert,averageN,HalfLife,shock,shock_standard
44,GEO,Georgia,Europe,3/13/2020,3/9/2020,333.611842,29.691186,NaN,NaN

In [11]:
merged_data = provided_data.merge(countries_shapes, right_on="ISO_A3", left_on="iso3", validate="1:1")
merged_data.head()

,iso3,country,continent,min_senti_bert,drop_senti_bert,averageN,HalfLife,shock,shock_standard,ADMIN,ISO_A3,ISO_A2,geometry
0,AFG,Afghanistan,Asia,3/13/2020,3/10/2020,448.256579,8.410348,NaN,NaN,Afghanistan,AFG,AF,"MULTIPOLYGON (((71.04980 38.40866, 71.05714 38..."
1,AGO,Angola,Africa,3/23/2020,3/11/2020,817.013158,12.320138,-2.156,-0.660154,Angola,AGO,AO,"MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -..."
2,ALB,Albania,Europe,3/25/2020,3/7/2020,288.138158,2.666999,NaN,NaN,Albania,ALB,AL,"MULTIPOLYGON (((19.74777 42.57890, 19.74601 42..."
3,ARE,United Arab Emirates,Asia,3/15/2020,3/7/2020,17878.046050,48.739074,-0.849,-0.686110,United Arab Emirates,ARE,AE,"MULTIPOLYGON (((53.86305 24.23469, 53.88860 24..."
4,ARG,Argentina,South America,3/16/2020,3/10/2020,104898.302600,27.957062,-2.045,-0.879744,Argentina,ARG,AR,"MULTIPOLYGON (((-68.65412 -54.88624, -68.65414..."

In [12]:
merged_data.keys()

Index(['iso3', 'country', 'continent', 'min_senti_bert', 'drop_senti_bert',
       'averageN', 'HalfLife', 'shock', 'shock_standard', 'ADMIN', 'ISO_A3',
       'ISO_A2', 'geometry'],
      dtype='object')

Filter in case we need full variables

In [13]:
merged_data = merged_data[['iso3', 'country', 'continent', 'min_senti_bert', 'drop_senti_bert',
       'averageN', 'HalfLife', 'shock', 'shock_standard', 'geometry', 'ISO_A2']]

Filter to get only the variables that we have discussed over slack

In [14]:
merged_data = merged_data[['iso3', 'country', 'continent', 'HalfLife', 'shock_standard', 'geometry', 'ISO_A2']]

In [15]:
merged_data = gpd.GeoDataFrame(merged_data)

In [16]:
merged_data.to_file("../data/countries_with_data.geojson", driver="GeoJSON")

In [17]:
merged_data['shock_standard'].describe(percentiles = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1])

count    117.000000
mean      -0.848760
std        0.584025
min       -3.307960
10%       -1.610268
20%       -1.212389
30%       -1.000052
40%       -0.868296
50%       -0.723554
60%       -0.621621
70%       -0.485392
80%       -0.388376
90%       -0.230394
100%      -0.007038
max       -0.007038
Name: shock_standard, dtype: float64